[2021-04-28 15:53] stamo opened #1 "Structure of CBOR / COSE"
I wanted to ask, can we use the structure of **CBOR** and **COSE** objects from the example in the Readme file as reference structure?

I mean that in the spec the CBOR structure is:

1        (iss) - bstr (2)
6        (iat) - bstr (2)
4        (exp) - bstr (2)
-260   (hcert) - map (5)

And in the example it is:

1        (iss) - text string (3)
6        (iat) - text string (3)
4        (exp) - te

[2021-04-30 12:58] martin-lindstrom opened #2 "Use string for schema version in raw content"
The Raw contents is defined to be as below. I suggest that a string is used to represent the `SCHEMA` version instead of an integer. How do I represent version "1.0.1" using an int?

Also, the example is a bit misleading where the validation time is set as `"VALIDATIONCLOCK":"12-03-2021",`. If it is a time-stamp it should be in JSON date-time format.

[code]

[2021-05-01 08:50] stamo commented on #1
Thanks to the coleagues from Austria we have some test data to play with, but again I have a problem with the specification. I am afraid that we will have different implementations across the MS and they will not be interoperable.

![CoseStructure](https://user-images.githubusercontent.com/3283931/116776475-46283a80-aa71-11eb-898c-244477311f32.jpg)

Three problems on this screenshot:

1. It is com

[2021-05-02 21:00] SchulzeStTSI commented on #2
@martin-lindstrom The idea was to reference the used schema as iterating number to the schema folder.  ("/schema/[Number].json) But yes you are right, it would be more clear to use the schema version of the hcert schema itself. What do you think, is "/schema/hcert/[semver].json" a better representation for the folder? Then we can use semver in the schema field instead of a integer value.

[2021-05-02 21:01] SchulzeStTSI commented on #2
@martin-lindstrom For the JSON Timestamp you would to propose "2017-05-15T15:12:59.152Z" as defined in ISO8601 right? (https://docs.jsonata.org/date-time-functions)

[2021-05-02 21:54] SchulzeStTSI commented on #2
@martin-lindstrom I've setup a pull request https://github.com/eu-digital-green-certificates/dgc-testdata/pull/4/files

[2021-05-02 23:42] SchulzeStTSI commented on #1
@stamo

Regarding point 1: The table referes to the COSE specification and has no explicit index in it. So it's as defined in the RFC "protected", "unprotected","payload" and "signature". (unprotected is in the bottom because empty and not used)

Regarding point 2: In the hCert Spec (https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md#33-cwt-claims) is alg and kid d

[2021-05-03 06:22] stamo commented on #1
@SchulzeStTSI

Yes, I think it is OK, I have already changed my implementation to use 1 and 4 instead of alg and kid, so the name of the column should be changed to Label, or may be to Claim name to match the other table in the spec

[2021-05-03 12:58] martin-lindstrom commented on #2
Yes

[2021-05-03 16:26] martin-lindstrom opened #5 "Why is private key needed?"
From the readme:

Is doesn't make sense to pass in the private key. The certificate/public key should be sufficient.

[2021-05-03 16:49] martin-lindstrom commented on #5
Step 3 of the test instructions say:

Clearly you want a signature validation to be performed here? No a signature operation with a private key.

[2021-05-03 17:33] SchulzeStTSI commented on #5
Okay, removed in commit : https://github.com/eu-digital-green-certificates/dgc-testdata/pull/4/commits/35c68d03c36503a52b86db003921add6c42eb1de

[2021-05-04 09:31] martin-lindstrom opened #6 "Please elaborate on file structure"
It is a bit unclear on how countries should supply their test files.

In my mind each country has a directory, in which each test file reside. For example:

- `/SE/README.md` - Describes the Swedish test files.
- `/SE/1.json` - First test file.
- `/SE/2.json` - ....

[2021-05-04 09:50] martin-lindstrom opened #7 "Suggestion: Replace jwk with Base64-encoded certificate"
Instead of placing the certificate in a JWK (where nothing else is represented), we might as well just represent the signer certificate as a Base64-encoded string. That's simpler and we don't have to create incomplete JWK-objects.

[2021-05-04 11:23] #5 closed

[2021-05-04 11:26] SchulzeStTSI commented on #7
Done in https://github.com/eu-digital-green-certificates/dgc-testdata/pull/4/commits/67c4ada5309dc8d910a2ab9dc550de4b0b8343c9

[2021-05-04 11:26] #7 closed

[2021-05-04 11:36] SchulzeStTSI commented on #6
The current structure would be
/SE/Readme.md
/SE/2DCode/raw/1.json

[2021-05-04 13:43] martin-lindstrom opened #9 "EXPTECTEDEXPIRED -> EXPECTEDEXPIRATIONCHECK"
All variables in the `EXPECTEDRESULTS` are true for a successful test except for `EXPTECTEDEXPIRED` that needs to be `false` (meaning, DGC is not expected to be expired). It would make more sense to rename this so that it also could be set to `true` for a successful test.

`EXPECTEDEXPIRATIONCHECK`?

[2021-05-04 16:22] SchulzeStTSI commented on #9
Fixed in this request. https://github.com/eu-digital-green-certificates/dgc-testdata/pull/10

[2021-05-04 16:23] martin-lindstrom opened #11 "Test number 6 will not always work"
Test number 6 states:

But the DGC payload will be a map in CBOR, and in CBOR maps the ordering is undefined. So you can't be sure that the encoder and decoder has the same ordering for the same object.

[2021-05-04 16:46] martin-lindstrom commented on #11
The same goes for test number 2 under Code Generation.

[2021-05-04 16:48] martin-lindstrom commented on #11
And 7 under Code validation.

[2021-05-04 17:49] martin-lindstrom commented on #11
@SchulzeStTSI Please see https://github.com/eu-digital-green-certificates/dgc-testdata/pull/13

[2021-05-04 20:44] martin-lindstrom opened #14 "Ambitious test scenarios may be contra productive"
Guys, after a night of producing test-files to be supplied I really need to say this.... You are trying too hard.

Let us ask ourselves: What is the purpose with interoperability tests?

It is that country X can read, parse, and validate a QR-code produced by country Y. Nothing else.

So. Apart from that you have to jump directly into your code and extract the different types of encodings during t

[2021-05-04 22:05] #1 closed

[2021-05-05 05:05] asitplus-pteufl commented on #14
I would say there are more perspectives here, yes the interoperability tests, like you describe them, are one part. then there is the creation side, where not too much test cases are required, but then there is the validator side.

for the validation side there is definitely a need to have a good basic test set that covers all the edge cases (e.g. no qr code of the interop tests might be signed wi

[2021-05-05 05:38] martin-lindstrom commented on #14
Fine. I hear you :-)

But breaking up a QR-code in its parts doesn't give us more useful tests. Someone still has to provide a QR-code signed with RSA, or a KID in the unprotected header (you meant  **un**protected, right?).

But be aware that comparing encodings may not work. See https://github.com/eu-digital-green-certificates/dgc-testdata/issues/11.

[2021-05-05 05:43] asitplus-pteufl commented on #14
@martin-lindstrom we are in the process of doing this (based on the google docs I shared) here (they will be checked in here later)
https://github.com/ehn-digital-green-development/hcert-kotlin/tree/feature/testgen/src/test/resources

and we will describe those initial examples in a table that tsystems has created yesterday.
i meant unprotected (whatever the less likely scenario is :-)

my impress

[2021-05-05 05:45] martin-lindstrom commented on #14
I’ll make sure to supply some odd corner cases :-)

[2021-05-05 06:17] SchulzeStTSI commented on #14
Please add your tests here to the list:

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BasicDgcTestsList.md

(Link please the related JSON)

[2021-05-05 06:34] #11 closed

[2021-05-05 06:53] #9 closed

[2021-05-05 06:53] SchulzeStTSI commented on #9
Pull request merged.

[2021-05-05 06:53] #6 closed

[2021-05-05 06:54] #2 closed

[2021-05-06 16:35] martin-lindstrom opened #18 "Clarify CBOR"
There is a bit of confusion about the CBOR-field. SE and RO has added the CBOR-encoding of the payload but BG has added the CBOR-encoding of the entire CWT.

Both are CBOR-encoded, so I blame the test instructions ;-)

Should be: Extract the CBOR-encoded DGC payload from the CWT and ...

Or something like this.

ping @stamo

[2021-05-06 17:01] martin-lindstrom opened #19 "Status table"
Will there be some sort of status table where we that provide test data can get some feedback?

I think that that is pretty important in order to get as many as possible to supply data.

[2021-05-07 07:15] #14 closed

[2021-05-07 08:03] SchulzeStTSI commented on #19
What do you mean with "status table"? We create a table like that:

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BasicDgcTestsList.md

We can add there more columns. Is it that what you have in mind?

[2021-05-07 08:08] SchulzeStTSI commented on #18
@martin-lindstrom My logic here was to extract CBOR content from COSE, hash it and compare the hash in the JSON with the extracted hash to see if everything was extracted right. Do you think this would be the right approach or do you have any concerns?

[2021-05-07 10:56] martin-lindstrom commented on #19
No, not really. As a provider of test data I would like to get feedback from those that have tested against the files. As it is now BG and SE has commented on eachother's pull requests and given the status. SE can parse and validate BG etc.

[2021-05-07 11:01] martin-lindstrom commented on #18
First: Extract CBOR content from COSE. The Cose_Sign1 structure is also CBOR encoded. So we need to be more specific, for example, "Extract the DGC payload from the Cose_Sign1 object in its CBOR-encoding".

And since two payloads, whether they are in CBOR-encoding or JSON-format, may be identical regarding the actual contents, their encodings are not guaranteed to be (since ordering is not fixed).

[2021-05-07 19:35] jkiddo commented on #19
Preferable, a github action should run on each commit

[2021-05-08 06:13] asitplus-pteufl commented on #18
@martin-lindstrom @SchulzeStTSI
let me check if I got this right:

- we have the ambiguity right now on extracting the CBOR content. We (Austria) take the whole CWT (which is also CBOR), other only take the HCERT itself and drop the other CWT headers
- if this is the right view, I think we have two options: (1) clarify that either the CWT of HCERT is meant by "CBOR", (2) explicitly add a step in t

[2021-05-08 07:46] jkiddo commented on #19
@martin-lindstrom are you guys working on a tool wrapped in docker that can inspect a 'country' folder and the output whether there's conformance/non-conformance?

[2021-05-08 08:38] martin-lindstrom commented on #19
@jkiddo I am primarily focused on creating DGC:s. Even though the https://github.com/DIGGSweden/dgc-java can be used to decode and validate DGC:s, this is not my main focus.

What I want is a plain table were the different countries can "communicate results".

BTW, I built a verifier for the test files in this repo: [DGCTestDataVerifier](https://github.com/DIGGSweden/dgc-java/blob/main/create-vali

[2021-05-08 10:42] SchulzeStTSI commented on #18
@asitplus-pteufl @martin-lindstrom

My understanding from "CBOR" was the CBOR encoded JSON. Maybe we should introduce a "CWT" section as seperate step to make the definition waterproof?

[2021-05-08 10:50] martin-lindstrom commented on #18
I suggest that we just clarify what is meant by CBOR and get going with the tests. Time is running out ...

[2021-05-08 11:00] SchulzeStTSI commented on #18
@martin-lindstrom You are right, let's define the CBOR as your first suggestion: "CBOR: The CBOR-encoding of the Digital Green Certificate payload."

[2021-05-10 09:00] martin-lindstrom opened #30 "Representation of date-time"
I see that AT uses ints to represent the `sc` and `dr` fields of a test entry (3.json). In CBOR both ints and strings may be used to represent a date-time, BUT ...

Our schema states very clearly that these fields are strings (with the addition of the format as a date-time):

[code]

So, in my view this is a violation of the schema, and that date-time:s should be represented as strings. I can see

[2021-05-10 10:14] nodh commented on #30
Which file are you referring to, exactly, @martin-lindstrom?
I just can't see it, in https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/AT/2DCode/raw/3.json#L16 it is
[code]

[2021-05-10 10:41] martin-lindstrom commented on #30
Yes, the timestamp in JSON are strings. But the CBOR-encoding of the payload is:

[code]

And it seems like milliseconds is used. According to RFC8949 it should be **seconds** since epoch.

[2021-05-10 12:32] martin-lindstrom commented on #30
So, AT has one definite bug (using milliseconds instead of seconds), and one potential violation of the schema. I don't know if we should use issues to indicate interop-issues. I think it is a good way.

[2021-05-10 13:13] martin-lindstrom opened #32 "ES: Broken test files"
Files 1201, 1202 and 1203 has wrapped JSON object within `"`. Should be a JSON-object
Files 2001 and 2002 has a `}` in the wrong place (after 2DCODE).

Please fix.

A question to @SchulzeStTSI: When you approve the PR, don't you check that the files are valid with some sort of tool?

[2021-05-10 13:18] martin-lindstrom commented on #32
And the files 1201, 1202 and 1203 uses Base64 instead of hex-encoding.

[2021-05-10 13:19] martin-lindstrom commented on #32
But SE successfully validated the other files :-)

[2021-05-10 13:26] martin-lindstrom opened #33 "EXPECTEDEXPIRATIONCHECK is false in HR testfiles"
@kristinaleko I guess that you mean that EXPECTEDEXPIRATIONCHECK should be `true` (a successful expiration check), but your test files have it set to `false`.

[2021-05-10 13:30] martin-lindstrom commented on #33
None of your test files have the expiration field set in the CWT I am curious if that is a mistake of if you supplied three test cases that were meant to fail on the expiration check or if there is a bug.

See section 3.3.1 in https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md.

[2021-05-10 14:46] martin-lindstrom opened #35 "VALIDATIONCLOCK format"
When I parse the VALIDATIONCLOCK values supplied in all common files (and also AT) I get errors saying that it is not correct ISO-8601.

[2021-05-10 14:47] martin-lindstrom opened #36 "Undocumented parameter - EXPECTEDKEYUSAGE"
What is the purpose of EXPECTEDKEYUSAGE? Nothing is stated in the readme.

[2021-05-10 15:12] kristinaleko commented on #33
@martin-lindstrom shall i upload new json files or just update the published one?

[2021-05-10 15:17] #30 closed

[2021-05-10 15:18] #18 closed

[2021-05-10 15:23] martin-lindstrom commented on #33
That's for you to decide :-) I have no leading part is this apart from being eager to test.

[2021-05-10 15:31] martin-lindstrom commented on #35
@SchulzeStTSI That would mean that Sweden's validation code would be 100% correct ;-) But step one is to have correct test files.

Check https://github.com/DIGGSweden/dgc-java and "borrow" what you like.

Btw: Many of the testfiles under commons are fawlty (missing required fields, string instead of JSON-object, etc.)

[2021-05-10 15:41] nodh commented on #35
@martin-lindstrom I'm using [ISO_DATE_TIME](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#ISO_DATE_TIME), in good faith that it would produce correct serializations.  I've also had a look at [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339), and to me it seems that `2021-05-03T20:00:00+02:00` is valid example of an ISO-8601 date/time string. But what's wr

[2021-05-10 16:52] nodh commented on #35
Agree, Zulu Time should be used. Is there anything else to improve on?

[2021-05-10 16:55] martin-lindstrom commented on #35
This was very good. A typical thing that should be discovered during interop-testing. People SHOULD use Zulu time, but validators MUST be able to handle offset versions as well.

[2021-05-10 17:55] yspreen commented on #35
This is what we support in swift. Feel free to open a PR in both the JSONSchema Swift validator and our core repo to change this behavior.

[code]

[2021-05-10 18:05] SchulzeStTSI commented on #35
@martin-lindstrom @nodh So far i see we should stick on the 2021-05-03T22:00:00Z format. The Offset can make some trouble in some implementations. What do you think? I looks for me more straight forward regarding the JSONs and Schemas.

[2021-05-10 20:11] martin-lindstrom opened #42 "Not allowed characters in UVCI for DK entries"
@jvitrifork Creating an issue since we don't have a better way of communicating.

The format of the UVCI (`ci`) used in DK files contains characters outside of the allowed character set. See https://github.com/ehn-digital-green-development/ehn-dgc-schema/wiki/FAQ.

[2021-05-10 20:18] jvitrifork commented on #42
An issue is fine.

Yep - that's a bug

[2021-05-10 21:01] jvitrifork commented on #42
ok - well, thanks for the heads up

[2021-05-10 21:41] JChrist opened #43 "IS test data parsing"
There seems to be an issue with parsing IS test data [1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/IS/2DCode/raw/1.json),
Specifically, after CBOR decoding, I find that the CBOR payload and signature are interpreted as `BigInt` instead of byte arrays:
[code]

[code]

While I am able to convert the values back to byte arrays and extract the data, the signature ver

[2021-05-11 07:36] jvitrifork commented on #42
Fix comming up

[2021-05-11 08:44] asitdm opened #47 "IS test file parsing"
Hi @gunnarif,

it seems that the version in your files is a String while it should be an Int according to the scheme definition (see below). This results in a parsing exception on stricter JSON parsers. Could you by chance update your files?

[code]

[2021-05-11 09:01] kristinaleko commented on #33
@martin-lindstrom  i have uploaded yesterday the corrected certificates for testing.. if you are eager to test :)

[2021-05-11 09:34] gunnarif commented on #47
hi @asitdm
sorry, fixed when the pull request gets accepted

[2021-05-11 10:08] #47 closed, assigned to nobody

[2021-05-11 10:38] gunnarif commented on #43
Thank you @JChrist

[2021-05-11 11:39] asitdm opened #50 "Comments in HR files"
Hi @kristinaleko,

could you eventually remove the comment lines on top of your files? The repository description states that the intent of these files is to "automate the generation and validation tests". The comment lines prevent this automation, as the structure of your test file is no longer valid JSON.

[2021-05-11 11:46] daniel-eder commented on #42
Fixed in #49 - thank you @jvitrifork

[2021-05-11 11:46] #42 closed

[2021-05-11 13:04] psavva opened #51 "Help needed how to create the test data"
Hi All,

I have the issuer and validator services up and running, I also have the issuer web installed, and working.
I am able to produce the QR codes using these template applications.

How are you creating the test data, with the info required as per the json schema?
ie: How are you generating the payload below?

[code]

[2021-05-11 13:11] martin-lindstrom opened #52 "DK test number 5 - Invalid QR code"
@jvitrifork I am using ZXing to decode barcodes and it complains on the QR code in 5.json. It fails on reading the QR-code version. I am not an QR-code expert - only saying that it can't be parsed using Java ZXing.

[2021-05-11 13:39] martin-lindstrom commented on #52
I found the error. It is ZXing that doesn't find the QR-code within the image. But if I tell ZXing that he/she should treat the entire image as a QR-code and don't try to locate the QR-code in the image it works.

[2021-05-11 13:39] #52 closed

[2021-05-11 14:05] martin-lindstrom commented on #33
@kristinaleko in 2.json I see that you have empty strings for `ma`, `nm`. The correct is not to add them if they shouldn't have a value. Otherwise I can parse your files.

[2021-05-11 14:51] gregsons opened #55 "Certificate identifier"
Hello, questions concerning a certificate identifier:

1. Do we need to use "urn" at the beginning?
2. Should be provided "uvci" or could be other value", f.e. like "dgci"?

Any requirements on both points?

SE example: "ci": "urn:uvci:01:SE:EHM/100000024GI5HMGZKSMS"

Thanks for info!

[2021-05-12 06:42] daniel-eder commented on #50
Closed with #54
Thank you for reporting @asitdm

[2021-05-12 06:42] #50 closed

[2021-05-12 10:21] #43 closed

[2021-05-12 11:44] martin-lindstrom commented on #55
@gregsons I have an open issue on this in the schema repo. https://github.com/ehn-digital-green-development/ehn-dgc-schema/issues/63

It needs to be expressed in a clearer way.

[2021-05-12 17:18] DragoMlakar commented on #51
@psavva
You may find this useful, but not sure if this is official way to do it.
https://github.com/ehn-digital-green-development/dgc-java/blob/main/create-validate/src/test/java/se/digg/dgc/interop/CreateTestDataTest.java

[2021-05-12 17:47] martin-lindstrom commented on #51
@DragoMlakar @psavva No, it's not official in any way. And using this code (my code) is only relevant if you use the dgc-java library for your DGC issuance. The thing with this repo is that we test each others QR-codes that will be used in production.

[2021-05-12 18:03] martin-lindstrom commented on #32
After the last update:

201, 202, 203 - Bad test files

501: nam.fnt: Illegal transliteration: FICTICIO ACTIVO

502: nam.fnt: Illegal transliteration: FICTICIO ACTIVO

503: nam.fnt: Illegal transliteration: FICTICIO ACTIVO

1201: v[0].vp: Value 'COVID-19 Vaccine Moderna' is not allowed according to the 'sct-vaccines-covid-19' value-set

1201: v[0]: dn is larger than sd. This doesn't make sense

20

[2021-05-12 20:39] martin-lindstrom opened #60 "Test files from Italy are not correct"
The CBOR, COSE and COMPRESSED fields are Base64-encoded. Should be hex-encoded.

@SchulzeStTSI Should be easy to spot even without tools before approving PR ;-)

[2021-05-12 20:45] vanton1 opened #61 "DoB field doesn't pass schema validation"
@jvitrifork [Denmark's 7th example](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/DK/2DCode/raw/7.json) has dob with value 1899-04-20. Is this on purpose? Because it doesn't pass schema validation We use this schema [here](https://github.com/eu-digital-green-certificates/ehn-dgc-schema/blob/main/DGC.schema.json)

[2021-05-12 20:54] martin-lindstrom opened #62 "Readme misses test description for EXPECTEDCOMPRESSION"
In the table under Code validation nothing is said about EXPECTEDCOMPRESSION.

[2021-05-12 21:14] martin-lindstrom opened #63 "BG: Same UVCI for different vaccination entries"
In the BG 1.json file the same UVCI is used for different vaccination entries. The UVCI in a vaccination entry should uniquely identify the vaccination event, so it doesn't make sense that two different entries have the same UVCI.

[2021-05-12 21:15] martin-lindstrom opened #64 "RO: Same UVCI for different vaccination entries"
In the RO 2.json file the same UVCI is used for different vaccination entries. The UVCI in a vaccination entry should uniquely identify the vaccination event, so it doesn't make sense that two different entries have the same UVCI.

[2021-05-12 21:16] martin-lindstrom opened #65 "HR: Same UVCI for different vaccination entries"
In the HR 3.json file the same UVCI is used for different vaccination entries. The UVCI in a vaccination entry should uniquely identify the vaccination event, so it doesn't make sense that two different entries have the same UVCI.

[2021-05-12 21:17] martin-lindstrom opened #66 "GR: Same UVCI for different vaccination entries"
In the GR 2.json file the same UVCI is used for different vaccination entries. The UVCI in a vaccination entry should uniquely identify the vaccination event, so it doesn't make sense that two different entries have the same UVCI.

[2021-05-12 21:20] martin-lindstrom opened #67 "DK: Schema violation on 5.json"
The DK 5.json file states `EXPECTEDSCHEMAVALIDATION = true` meaning that schema validation should succeed, but empty arrays in `t` and `r` makes schema validation fail.

[2021-05-12 22:11] jeroentrappers opened #68 "This is not valid JSON"
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/6a13914d9531943cffa602abc58c721789325450/ES/2DCode/raw/201.json#L11

[2021-05-12 22:17] jeroentrappers opened #69 "This is not valid JSON. Newlines in values should be escaped as \n."
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/6a13914d9531943cffa602abc58c721789325450/ES/2DCode/raw/203.json#L11

[2021-05-13 10:03] jeroentrappers commented on #69
https://jsonlint.com/
[code]

[2021-05-13 10:06] #69 closed

[2021-05-13 10:06] jeroentrappers commented on #69
duplicate of #32

[2021-05-13 10:06] jeroentrappers commented on #68
duplicate of #32

[2021-05-13 10:06] #68 closed

[2021-05-13 10:09] jeroentrappers commented on #19
I have a test program that will iterate through all json files and run out implementation of the certificate validation code.

There are several issues still to be ironed out, however it might be useful for others to take a look at: https://github.com/jeroentrappers/dart_dgc_validate

[2021-05-13 11:22] martin-lindstrom commented on #19
@jeroentrappers Yes, that may be useful, but it is not a replacement for a matrix where each and every country apply **their**  validation code on the different test files. As a provider of a test file I typically want to get confirmation that other countries can parse it.

[2021-05-13 11:33] martin-lindstrom opened #70 "HR: Empty strings in optional fields"
@kristinaleko In file HR 2.json, the optional fields `ma` and `nm` are present and hold empty strings. The correct is to not include these fields if they haven't got a value. Including an empty string for `ma` leads to validation errors when checking against allowed value-set.

[2021-05-13 13:49] jeroentrappers commented on #19
@martin-lindstrom agreed. We are not sure we will finally be able to use the dart implementation, because currently there are some issues with dependencies we use upstream. Otherwise we will fall back to the iOS and Android implementations available. However, these too currently have their issues with the test set in this respository.

[2021-05-13 14:48] SchulzeStTSI commented on #60
@martin-lindstrom Sorry. It's the time to setup a CI. I have already some ideas.

[2021-05-13 15:11] SchulzeStTSI opened #71 "IT: RAW Field Names"
@alfo1995 Can you please correct the Fieldnames in your Raw Files? They are in lower case and "qrcode" must be 2DCODE

[2021-05-13 18:59] jeroentrappers opened #73 "This test specification seems to be invalid."
@nodh

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/6a13914d9531943cffa602abc58c721789325450/common/2DCode/raw/CBO1.json#L27

Starting from the PREFIX Value, I get a valid result.

As the test only specifies to validate `EXPECTEDDECODE = false`. The other tests must be ignored.
The contents of the PREFIX values can be decoded succesfully, and the payload contained within actu

[2021-05-13 19:21] jeroentrappers commented on #73
Fixed my test to be based on the supplied CBOR value.

[2021-05-13 19:21] #73 closed

[2021-05-13 19:43] jeroentrappers opened #74 "COSE input missing for EXPECTEDVERIFY spec in common/2DCode/raw/CBO2.json"
@nodh

in Common CBO2 this is the test spec:
"EXPECTEDVERIFY": false

EXPECTEDVERIFY: Data from input in COSE can be cryptographically verified,
with signer's certificate from TESTCTX.CERTIFICATE

But the test spec file does not contain a COSE input.

[2021-05-13 20:19] jeroentrappers opened #75 "Invalid signing algorithm parameter"
@nodh

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/6a13914d9531943cffa602abc58c721789325450/common/2DCode/raw/CO1.json#L36

When testing this file, I got a -37 as value for the signing algorithm.

This seems to be an unknown value voor COSE. It is not clear for me which algorithm should be used to verify this signature.

Accoring to the spec, only 2 algorithms should be supp

[2021-05-13 20:23] jeroentrappers commented on #75
Same for common/2DCode/raw/CO2.json

[2021-05-13 20:24] jeroentrappers commented on #75
see https://datatracker.ietf.org/doc/html/rfc8152#section-8.1

[2021-05-13 20:50] jeroentrappers opened #76 "How can i verify the KID?"
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/6a13914d9531943cffa602abc58c721789325450/common/2DCode/raw/CO22.json#L10

It does not seem to be present in the test spec. Is it extractable from the Certificate somehow? I've found no official spec for the kid.

[2021-05-13 20:54] jeroentrappers commented on #76
Same question for 2DCode/raw/CO23.json. The verification is succesful with the provided certificate, both CO22.json and CO23.json.

[2021-05-13 22:20] vanton1 opened #77 "SI: Unsupported Elliptic Curve"
@DragoMlakar SI's certificates signing algorithm use this elliptic curve `c2tnb191v1: X9.62 curve over a 191 bit binary field` according to ASN1 decoding. Are we supposed to support it or you are planning to change it to something like `prime256v1`?

[2021-05-14 06:17] daniel-eder commented on #71
Closed in #72

[2021-05-14 06:17] #71 closed

[2021-05-14 06:17] daniel-eder commented on #60
Closed in #72

[2021-05-14 06:17] #60 closed

[2021-05-14 06:21] SchulzeStTSI commented on #76
@jeroentrappers The kid is defined as the first 8 bytes of the SHA256 hash of the certificate.

[2021-05-14 06:43] SchulzeStTSI commented on #66
@martin-lindstrom i guess i makes not many sense to use different ids, because in the offical EU prints is per default just one UVCI as certificate id. So how should we handle there multiple one? One QR Code means one Identifier for the moment. From my perspective, the same ID for all events in the structure is correct.

[2021-05-14 06:44] SchulzeStTSI commented on #65
Follow the discussion on https://github.com/eu-digital-green-certificates/dgc-testdata/issues/66

[2021-05-14 06:44] SchulzeStTSI commented on #64
Follow the discussion on #66

[2021-05-14 06:44] SchulzeStTSI commented on #63
Follow the discussion on #66

[2021-05-14 08:26] martin-lindstrom commented on #66
This is not what the semantics work-group thinks. I have made an issue in the https://github.com/ehn-digital-green-development/ehn-dgc-schema repo to sort this issue out.

[2021-05-14 08:39] martin-lindstrom opened #78 "AT: Use of value for ma that is not defined in value-set"
In AT 4.json the value for `ma` is set to `1232`. This is a violation of the vaccines-covid-19-auth-holders value set.

[2021-05-14 08:40] martin-lindstrom commented on #78
My bad

[2021-05-14 08:40] #78 closed

[2021-05-14 08:54] martin-lindstrom commented on #66
@SchulzeStTSI Please see https://github.com/ehn-digital-green-development/ehn-dgc-schema/issues/64.

[2021-05-14 08:55] jeroentrappers opened #79 "Use of unsupported EC Algorithm"
@DragoMlakar

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/55552dedb68bedaa6953ffa81420d35a2c2ccbe9/SI/2DCode/raw/5.json#L35

according to the spec
3.3.2 Signature Algorithm

only ES256 and PS256 are supported.

This key uses curve c2tnb191v1 with a 191 bit key. This is not supported.

[2021-05-14 09:23] martin-lindstrom opened #81 "ES: Illegal transliteration and value set violations"
In **501.json**:

Transliterated names containing blanks. Illegal.

`ma` field of test entry is invalid. Violates covid-19-lab-test-manufacturer-and-name.

In **502.json**:

Transliterated names containing blanks. Illegal.

In **503.json**:

Transliterated names containing blanks. Illegal.

In **1201.json**:

`vp` field of vaccination entry is invalid. Violates sct-vaccines-covid-19.

`dn` (2) is

[2021-05-14 09:25] martin-lindstrom opened #82 "HR: Use of empty strings where null should be used"
In HR 2.json:

WARNING: t[0].nm="Optional field is empty string (or blanks only) - better to set as null",

WARNING t[0].ma="Optional field is empty string (or blanks only) - better to set as null"

WARNING t[0].sc="DateTime represented as un-tagged string (should be tagged with 0)"

WARNING t[0].dr="DateTime represented as un-tagged string (should be tagged with 0)"

[2021-05-14 12:20] confiks opened #86 "SE: CBOR value doesn't match COSE payload; COSE payload contains invalid fields"
- The value under the CBOR key isn't actually present in the COSE payload, or the `BASE45` and `PREFIX` fields. For example, in [1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/1.json), the value under the `CBOR` key starts with `bf6376`, but this isn't present in the value under the `COSE` key. Instead, the COSE payload starts with `A40162`.

- The CO

[2021-05-14 12:23] SchulzeStTSI commented on #86
@martin-lindstrom

[2021-05-14 12:28] SchulzeStTSI commented on #62
Solved by Austria.

[2021-05-14 12:41] SchulzeStTSI commented on #62
Updated.

[2021-05-14 12:41] #62 closed

[2021-05-14 13:12] martin-lindstrom commented on #86
As I have tried to communicate. Since CBOR (and JSON) doesn't have a fixed order for maps you cannot use a simple byte-array-comparison. The contents are the same, but not the ordering.

From the readme file:

See section 3.4.2 of https://datatracker.ietf.org/doc/html/rfc8949. So, it can be a float. But in my example it shouldn't. Funny. I used the https://github.com/peteroupc/CBOR-Java library fo

[2021-05-14 13:18] martin-lindstrom commented on #86
@confiks Checked it in detail. The SE CWT is perfectly legal.

However, there is really no reason on given `iat` and `exp` with a finer granularity than seconds, so I'll change. But a validator app should be able to handle floats as well.

[2021-05-14 13:39] martin-lindstrom commented on #86
@SchulzeStTSI I was thing that I may update the SE files, but I think that @confiks comments points out that it is typically such a thing we want to cover in the interop tests. Unusual encodings that follow the specs, but may not be recommended.

I think I keep one file with the float-representation (which is OK according to RFC8949) and change the other ones.

@confiks Thanks for pointing this ou

[2021-05-14 14:14] confiks commented on #86
Point taken about the byte order. It does make me doubt the usefulness validation of the `CBOR` key, since for the testcases the `COSE` payload ultimately needs to be matched against the source data under `JSON` anyway. When actually validating, no reordering takes place.

For the floating-point timestamps, I would really appreciates if we could enforce the suggestion from section 3.4.2 of RFC 894

[2021-05-14 14:22] martin-lindstrom commented on #86
I completely agree with you. In my validation code I use the same decoder/encoder and first decode, then encode, and lastly compares. IMHO the tests that we are doing in this repo are far too complicated. We should focus on pure interop. But that's another issue.

Yes. And again. Nothing wrong with that.

Again. Agree. I have already updated our code (that is also used by a number of countries). h

[2021-05-14 14:35] Santivicen commented on #81
I have remove that invalid test and I have created a new pull request with new tests looking your comments.

[2021-05-14 14:37] Santivicen commented on #32
So sorry, I forget to put a comment here. We remove that invalid test.

[2021-05-14 14:39] #86 closed

[2021-05-14 15:10] dirkx opened #88 "IS: packaging the KID in a Tag"
@gunnarif  -- It seems that the Islandic KID is packaged in a tag:

       18(
         [
           / protected / h'a2012604c4483526eba1164a1d54' / {
               \ alg \ 1:-7 \ ECDSA 256 \,
               **\ kid \ 4:4(
                 h'3526eba1164a1d54'
               )**
             } / ,
           / unprotected / {},
           / payload / h'a401624953041a60a3890b061a609a4e8b390103a101a

[2021-05-14 15:27] dirkx opened #89 "IT: 1 field contains "Ministero della Salute" - should be "IT""
@alfo1995 - It appears that in the JSON we get:

       {4: 1636483169,
      6: 1620927569,
       1: "_**Ministero della Salute**_",
     -260: {....

 for the payload.  I think the spec (https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md
) suggests that this should be just the country:

*  Payload
**   Issuer (iss, claim key 1, optional, ISO 3166-1 alpha-2 of is

[2021-05-14 15:40] dirkx opened #90 "ES: Linebreaks in JSON of example 201, 202, 203"
@TKlauenberg : The base64 for the CERTIFICATE in /ES/2DCode/raw/201.json  has \n by accident. A lot of parsers will error out with:

       parse error: Invalid string: control characters from U+0000 through U+001F must be escaped at line 48, column 33

[2021-05-14 16:00] dirkx opened #91 "ES: key IDs not abbreviated to 8 byts"
@TKlauenberg could it be that the key IDs are somewhow not reduced to the 8 bytes as per section A.1 of https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md ??

I am getting an unknown on dgc-testdata/ES/2DCode/raw/103.json:

      Exception: KeyID is unknown (expected b'07805b250c759584', got b'3736377a523661474c503564475a71656663506d77436e64573536556f33646f64773261

[2021-05-14 16:13] dirkx opened #92 "LU & DK - not using a TAG in the CBOR"
It appears that LU and DK are the only two countries not packaging their COSE in a 18 tag.

Is that intentional ?

[2021-05-14 16:14] dirkx opened #93 "NL: Missing mandatory fields in payload wrapper"
Claim 6 and 4 are missing.

[2021-05-14 16:37] martin-lindstrom commented on #92
Section 2 of [RFC8152](https://datatracker.ietf.org/doc/html/rfc8152) states that the COSE tag can be left out if the context in which the COSE object appears tells which type of object that is expected. SE (DK uses this impl.) did not include the tag, but we changed that because some of the app-vendors get confused.

I created two files that should work and that illustrates different tagging:
- h

[2021-05-14 16:48] dirkx commented on #92
Ok - I can see some argument for making 4 pass - but should 5 pass ? Tag(61):[ Tag(18):[ ....]] -- is pretty far of what is intended ?

Dw

[2021-05-14 16:54] dirkx opened #94 "SI: c2tnb191v1 curve in dgc-testdata/SI/2DCode/raw/1.json and 2.json"
@DragoMlakar: It appears as if the DCS for this json is not a NIST P-256 but a 191 bit c2tnb191v1 curve ?

Could that be ?

      Certificate:
          Data:
              Version: 3 (0x2)
              Serial Number: 1620739844 (0x609a8704)
              Signature Algorithm: ecdsa-with-SHA256
              Issuer: C = SI, L = Ljubljana, O = SETCCE, OU = dev, CN = signer
              Validity

[2021-05-14 17:03] martin-lindstrom commented on #92
I think that both should pass. They are according to the specs.

Then it is not the way we should create our CWT:s, but a validator should be able to handle tagging.

[2021-05-14 17:07] dirkx opened #95 "HR/Croatia - non ISO country code in Issuer field ?"
In the file:
    dgc-testdata/HR/2DCode/raw/1.json

The issuer seems to be set to ```Ministry of Health, Croatia``` rather than to an 2 char ISO country code (as per section 3.3.1:

* Payload
** Issuer (iss, claim key 1, optional, ISO 3166-1 alpha-2 of issuer)

of https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md). Is that intentional ?

[2021-05-14 17:08] dirkx opened #96 "RO: floating point time"
In the file:

    dgc-testdata/RO/2DCode/raw/1.json

it seems that the times are floats:

     Experation time     : 1635841071.725
     Issued At           : 1620289072.092

 while almost all other countries are doing these as INTs. Was this intentional ?

[2021-05-14 17:52] gunnarif commented on #88
@dirkx
It's a bug on my part.
Fixed in next pull request.

[2021-05-14 18:40] jeroentrappers commented on #79
duplicate of #77

[2021-05-14 18:40] #79 closed

[2021-05-14 18:40] jeroentrappers commented on #94
Related to #77 and #79

[2021-05-14 18:43] dirkx commented on #94
closing - duplicate of #77 and #79

[2021-05-14 18:43] #94 closed

[2021-05-14 18:43] jeroentrappers commented on #76
Thanks!

[2021-05-14 18:44] jeroentrappers commented on #90
Related to #32

[2021-05-14 19:27] asitplus-pteufl commented on #75
we noticed that RSA is not supported with many COSE-libs, but the header for RSA-PSS is correct, it is -37
RSA-PSS https://tools.ietf.org/id/draft-jones-cose-rsa-04.html

-7 is ECDSA with NIST P256 and -37 is RSA-PSS with SHA256

[2021-05-14 19:29] asitplus-pteufl commented on #75
Better link:
https://www.iana.org/assignments/cose/cose.xhtml
go to table "COSE Algorithms" for a complete overview

[2021-05-14 19:44] dirkx commented on #90
Closed - duplicate of #32

[2021-05-14 19:44] #90 closed

[2021-05-15 07:50] #76 closed

[2021-05-15 08:01] SchulzeStTSI opened #100 "Issuer Quality Checklist"
@martin-lindstrom @dirkx Please add all your findings to this list(i've added a few of them already):

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BasicDgcTestsList.md#issuer-quality-checks

[2021-05-15 08:02] SchulzeStTSI commented on #88
@gunnarif can this issue be closed?

[2021-05-15 08:05] SchulzeStTSI commented on #77
@vanton1 I've added that to the list : https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BasicDgcTestsList.md#issuer-quality-checks

[2021-05-15 09:30] wasperen2 commented on #93
this is now fixed by PR https://github.com/eu-digital-green-certificates/dgc-testdata/pull/99

[2021-05-15 09:30] #93 closed

[2021-05-15 09:37] gunnarif commented on #88
Maybe if @dirkx can confirm, it would be appreciated

[2021-05-15 10:24] dirkx commented on #88
Looking lovely and passes all our baseline sign/etc checks.

[code]

[2021-05-15 10:24] #88 closed

[2021-05-15 11:55] jkiddo commented on #92
@martin-lindstrom is this something you changed in the implementation? DK is a bit behind of using the latest version of the SE framework

[2021-05-15 11:59] jkiddo commented on #61
@vanton1 you are correct. That example violatest the schema

[2021-05-15 12:15] psavva commented on #51
Thank you all for your comments.
We have created the test data using the web issuing frontend and spooling out some logs of the data we need.  Constructed the needed examples based on the tests we had run...

[2021-05-15 12:15] #51 closed

[2021-05-15 16:49] jvitrifork commented on #61
Should be fixed with https://github.com/eu-digital-green-certificates/dgc-testdata/pull/103

[2021-05-15 16:50] jvitrifork commented on #67
Fixed with https://github.com/eu-digital-green-certificates/dgc-testdata/pull/103

[2021-05-15 19:44] DragoMlakar commented on #77
Thank you for report! Will fix it.

[2021-05-15 21:14] jeroentrappers commented on #75
Thank you for the feedback. I've implemented this in our decoder / verifier.

[2021-05-15 21:14] #75 closed

[2021-05-15 21:16] vanton1 commented on #61
Yes it seems the three examples in your PR work fine

[2021-05-15 21:28] jeroentrappers opened #104 "ES: 1203.json COSE seems to be invalid"
https://raw.githubusercontent.com/eu-digital-green-certificates/dgc-testdata/main/ES/2DCode/raw/1203.json

When decoding the COSE input of this file, the payload decodes as a BigInt, not a byte array. Also in cbor.me it seems the encoding is different from "normal" files.

Anyone else having issue with this file?

[2021-05-15 21:30] jeroentrappers commented on #32
#104 also related to the ES files.

[2021-05-16 08:37] jeroentrappers opened #105 "CY files use Base64 encoding for test input."
@lexin10

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/14741a336586772bba4b4e7b18c2170e62be02fb/CY/2DCode/raw/1.json#L27

This file uses Base64 encoding for the input test data, it should use HEX encoding, as all the other files.

[2021-05-16 13:36] yspreen opened #106 "Exp is actually valid for expected invalid cert"
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/14741a336586772bba4b4e7b18c2170e62be02fb/common/2DCode/raw/CO17.json

The exp value is 5/5, while the clock is 5/3. This is valid, thus the test fails.

[2021-05-16 13:36] yspreen commented on #106
Pinging @nodh

[2021-05-16 14:20] SchulzeStTSI commented on #92
@martin-lindstrom @dirkx Can we please find here a clear path? Handling of two options for the same thing, generates new test pathes and makes the things more complicated. Can we assume the 18 tag as in all other test files?

[2021-05-16 14:31] SchulzeStTSI opened #107 "NL: EXPECTEDSCHEMAVALIDATION"
@wasperen2 In a lot of files did you place some values which hit the schema validation (e.g. '1963-xx-xx' does not match pattern: '(19|20)\d{2}-\d{2}-\d{2}') ) , but EXPECTEDSCHEMAVALIDATION is set to "true". What is the clear expectation on this test set? Some of that values must pass or should all fail? Can you correct the EXPECTEDSCHEMAVALIDATION values for this one which should fail during the

[2021-05-16 14:45] psavva commented on #105
@lexin10 Please can you have a look at this one.

[2021-05-16 14:46] yspreen commented on #106
Same for CO16

[2021-05-16 19:48] martin-lindstrom commented on #92
@jkiddo Yes. The current version adds the Cose_Sign1 tag by default.

@SchulzeStTSI I strongly think that a validator app must be able to handle both tagged and untagged messages. Tagging is for when you don't really know what type of message that is being parsed, and in our case it is very clear that a Cose_Sign1 message is expected, so I think that if we were to make some sort of recommendation

[2021-05-16 20:25] dirkx commented on #92
Given how exacting we are in the spec - I am fine with more precise than  RFC8152 <https://datatracker.ietf.org/doc/html/rfc8152> - and “demanding” a TAG.

[2021-05-16 20:30] SchulzeStTSI commented on #92
@martin-lindstrom @dirkx I would recommend to be so strict as possible in this area. The most of the "standard" libraries are generic one, which simple encode "Sign1"(18) message etc, but they are actually have no idea what they should decode, if they receive any message without this. To recommend a kind of knowledge what you receive, is from my perspective very weak in the definition and adds mor

[2021-05-16 20:46] martin-lindstrom commented on #92
I think that even if you are using a library you should be aware of what you are doing, but OK, I am fine with either. Tag or no tag.

[2021-05-17 00:00] gabywh commented on #55
Prefix:

`URN:UVCI:[the rest...]`

Notes
1. The term UVCI is used - where V refers to  vaccination - also for Test and Recovery, since all certificate ids are *of the form* UVCI. Vaccination is where it all started and the term UVCI just stuck.
1. The checksum is calculated across the whole string - including the `URN:UVCI:` prefix - so the prefix has to be in uppercase

[2021-05-17 08:27] JChrist commented on #106
Adding here my own confusion, seeking clarifications.
For CO16, the expected error is INVALID: validation clock before "ISSUED AT". So the expected error is not about exp, but about iat.
However, the validation clock is at the exact second of `iat` field: 2021-05-03T18:00:00Z
Is this supposed to fail? Verifiers MUST NOT accept certificates issued at the exact second of `iat` (like that is possible

[2021-05-17 08:48] jvitrifork commented on #61
@SchulzeStTSI - this issue should be closed

[2021-05-17 09:26] JChrist commented on #105
Also, all CY test files have a `VALIDATIONCLOCK` set **before** the contained certificate `iat` field, causing all validations to fail

[2021-05-17 10:44] alfo1995 commented on #89
thanks @dirkx  we fixed it here #111

[2021-05-17 11:05] #89 closed

[2021-05-17 11:52] yspreen commented on #106
Good point. IAT validation is not part of the Swift tests (yet).

Since all entries in the hcert actually have a date of issuance in the payload, it seems redundant and not really needed. But we can add it nonetheless

[2021-05-17 13:46] bhavin-qryptal commented on #32
[2102.json](https://raw.githubusercontent.com/eu-digital-green-certificates/dgc-testdata/main/ES/2DCode/raw/2102.json) seems to be using certificate which valid for clientAuth and emailProtection. Based on that it would be considered as invalid for signing HCERT - Type : Testing. Reference: https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v1_en.pdf (Appendix

[2021-05-17 13:54] bhavin-qryptal commented on #32
[2103.json](https://raw.githubusercontent.com/eu-digital-green-certificates/dgc-testdata/main/ES/2DCode/raw/2103.json) : VALIDATIONCLOCK value is not in ISO8601 format as per https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/README.md

[2021-05-17 17:14] bhavin-qryptal commented on #32
[101.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/101.json)
[102.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/102.json)
[103.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/103.json)

Cose Message header populated with incorrect value of KID.

Reference: https:/

[2021-05-17 20:35] jvitrifork commented on #92
Should be fixed with https://github.com/eu-digital-green-certificates/dgc-testdata/pull/118

[2021-05-17 20:35] jvitrifork commented on #67
This issue should be closed @SchulzeStTSI

[2021-05-18 07:48] #96 closed

[2021-05-18 07:49] #64 closed

[2021-05-18 07:50] #61 closed

[2021-05-18 07:58] JChrist opened #119 "DE: certificates have invalid kid"
As mentioned in the PR #117 , which unfortunately got merged. the certificates contain invalid `kid` and thus cannot be verified.

The kid contained in the certificate(s) is invalid/does not match the kid as calculated from the certificate provided in the test data.
In particular, for 1.json, the certificate contains kid (in base64 for easy reference): jt4zFtTaQYGB8HU6/8ajow==
The expected one - b

[2021-05-18 08:43] dirkx commented on #92
Validates perfectly for me.

[code]

[2021-05-18 09:36] lab-incert commented on #119
I confirm that I got the same issue while testing the DE certificates.

[2021-05-18 09:56] lab-incert opened #121 "FR Invalid Standardised given name"
As mentioned here: https://github.com/eu-digital-green-certificates/dgc-testdata/commit/be2d4b189cab110150b72b8b410fbf41339d5924#commitcomment-50961691 the "name.gnt" doesn't respects the pattern defined by the json-schema.

[2021-05-18 10:15] lexin10 commented on #105
Thank you @JChrist for letting us know this issue.
@JChrist I would appreciate if we can have a small session to see how are you testing these flows?
So like that the cyprus team will be able to identify and fix futures issues.

[2021-05-18 10:16] lab-incert commented on #91
I confirm we got the same issue.

[2021-05-18 11:50] SchulzeStTSI commented on #119
@JChrist Sry. I thought the comments were resolved.
@SZoerner Please fix the kid issue.

[2021-05-18 11:55] #67 closed

[2021-05-18 12:45] JChrist commented on #105
@lexin10 sure, the Greek team is always eager to help :)
Feel free to send me an e-mail at jchrist[at]cytech.gr to set it up

[2021-05-18 15:38] psavva opened #126 "dgc-testdata respository - System Scope"
Dear TSI

Does the data in this repository need to reflect data as it is on the **Test Environment** or the **Acceptance Environment** ?

I see a mixture of both there.

If there is no common gateway used for all tests here, results would be different for DSC Signed using the Test Gateway vs DSC Signed using the Acceptance Gateway, hence the DSC Certificates are different....

Best Regards
Panayio

[2021-05-18 15:39] lexin10 commented on #105
This has been fixed

[2021-05-18 17:08] gregsons commented on #126
Poland uploads data with DSCs to be used for ACC env.
Still, we would appraciate dedicated (separated) catalogues for both envs.

[2021-05-18 18:32] jeroentrappers commented on #126
The test files contain the certificate to verify against. It seems to be not intended to be used with certificates from the gateway.

[2021-05-19 01:30] bhavin-qryptal opened #128 "FR: unable to decode certificate"
@adelourme and @SchulzeStTSI, Please have a look and advise.

References:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FR/2DCode/raw/recovery_ok.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FR/2DCode/raw/test_pcr_ok.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FR/2DCode/raw/vaccin_ok.json

We were unable to

[2021-05-19 03:45] bhavin-qryptal commented on #119
[/DE/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/DE/2DCode/raw/1.json)
[/DE/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/DE/2DCode/raw/1.json)
[/DE/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/DE/2DCode/raw/1.json)

DGC Signing Certificates - DSCs are tagged wi

[2021-05-19 03:52] bhavin-qryptal commented on #32
References:
[/ES/2DCode/raw/401.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/401.json)
[/ES/2DCode/raw/402.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/402.json)
[/ES/2DCode/raw/403.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/403.json)

RE: [DGC Signing Cert

[2021-05-19 05:13] bhavin-qryptal commented on #32
[/ES/2DCode/raw/1203.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/1203.json)
Getting error while try to decode COSE / CBOR payload.
TypeError: payload should be of type 'bytes' not <class 'int'>

@Santivicen, @SchulzeStTSI, Please have a look.

[2021-05-19 05:19] bhavin-qryptal commented on #77
References:
[/SI/2DCode/raw/5.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SI/2DCode/raw/5.json)

@DragoMlakar
COSE Payload is not a COSE security message. Please have a look.

[2021-05-19 06:06] #105 closed

[2021-05-19 06:12] bhavin-qryptal commented on #119
[DE/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/cce3001e358418ea2fe02f8fc1dba110916be4ae/DE/2DCode/raw/1.json)

dgc_expiry_date  datetime(2022, 5, 8, 10, 45, 40, tzinfo=datetime.timezone.utc)  is after dsc_not_valid_after  datetime(2022, 4, 30, 9, 31, 22, tzinfo=datetime.timezone.utc)

@SZoerner and @SchulzeStTSI , FYI and assistance.

Thank you.

[2021-05-19 06:16] #92 closed

[2021-05-19 06:27] bhavin-qryptal opened #129 "HR: COSE Payload is missing expiry date"
@TKlauenberg
@daniel-eder
@kristinaleko

FYI and kind attention.

[HR/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/cce3001e358418ea2fe02f8fc1dba110916be4ae/HR/2DCode/raw/1.json)
and
[HR/2DCode/raw/3.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/cce3001e358418ea2fe02f8fc1dba110916be4ae/HR/2DCode/raw/3.json)

COSE Payload is missing

[2021-05-19 06:33] daniel-eder commented on #95
@kristinaleko can you weigh in on this?

[2021-05-19 06:34] daniel-eder commented on #81
Closed in #87

[2021-05-19 06:34] #81 closed

[2021-05-19 06:34] daniel-eder commented on #82
@kristinaleko can you look into this?

[2021-05-19 06:36] bhavin-qryptal opened #130 "PL: validation_clock time is after dgc_expiry_date value"
References:
[PL/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/cce3001e358418ea2fe02f8fc1dba110916be4ae/PL/2DCode/raw/1.json)
[PL/2DCode/raw/2.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/cce3001e358418ea2fe02f8fc1dba110916be4ae/PL/2DCode/raw/2.json)

@js-pcsi, FYI and review please.

validation_clock time is after dgc_expiry_date

[2021-05-19 08:21] lab-incert commented on #128
I got the same issue as commented here: https://github.com/eu-digital-green-certificates/dgc-testdata/commit/be2d4b189cab110150b72b8b410fbf41339d5924#commitcomment-50962272

[2021-05-19 08:37] nodh commented on #106
The intention for `CO16.json` was to set the `VALIDATIONCLOCK` to some date in 2021, and the `ISSUED_AT` in the CWT (inside the COSE) to some date in 2023. Apparently, the resulting test file did not capture this, so I'll update that. Thanks for spotting the error!

[2021-05-19 08:49] lab-incert opened #131 "FR: Validation issues in Test PCR sample"
From this sample:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FR/2DCode/raw/test_pcr_ok.json

RAT Test name and manufacturer "3D Medicines" is not known the https://github.com/ehn-digital-green-development/ehn-dgc-schema/blob/main/valuesets/test-manf.json

Date/Time of Sample Collection (sc) & Date/Time of Test Result (dr) should be provided as string (date-time format)

[2021-05-19 09:00] bhavin-qryptal commented on #32
[2103.json](https://raw.githubusercontent.com/eu-digital-green-certificates/dgc-testdata/main/ES/2DCode/raw/2103.json) :

Content of the CBOR Payload does not match with JSON.

![image](https://user-images.githubusercontent.com/84303320/118785707-b0d7d380-b8c3-11eb-832e-aff9bcd4dee6.png)

[2021-05-19 09:12] bhavin-qryptal opened #133 "RO: Payload in CBOR Test data does not comply with schema"
**Affected Country**: RO

## Issue Description

RO: Payload in CBOR Test data does not comply with schema.

References:
https://github.com/eu-digital-green-certificates/ehn-dgc-schema/blob/main/DGC.Types.schema.json
`        "sc": {          "description": "Date/Time of Sample Collection",          "type": "string",          "format": "date-time"        },        "dr": {          "description": "D

[2021-05-19 09:18] SchulzeStTSI commented on #126
@psavva @jeroentrappers we discuss the proposal from Martin Lindström allready to add in the JSONs in the Test CTX a Flag like "Gateway-Env":["ACC","TST"]. What do you think about it?

[2021-05-19 09:21] martin-lindstrom commented on #126
@SchulzeStTSI It's not my proposal. I kind of think that keeping our tests separate from the gateway is better.

[2021-05-19 09:22] psavva commented on #126
Hi @SchulzeStTSI

This would be perfect, as it provides us a context of the environment, and thus allow us to understand against which Gateway it should pass/fail.

Thank you so much for taking this on board, it will really help our testing against the other countries as now we will know which DSC the QR Code generated against.

Best Regards
Panayiotis Savva
University of Cyprus

[2021-05-19 09:22] nodh commented on #74
Thanks for spotting that, I'm gonna fix that

[2021-05-19 09:41] bhavin-qryptal commented on #74
Reference: https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/README.md

Question 1: Which of the following interpretations are correct?

1.
EXPECTEDDECODE: Data from input in CBOR can be decoded, and the contents match input from JSON
OR
EXPECTEDDECODE: Extract the CBOR content and validate the CBOR content against the RAW CBOR content field.

2.
EXPECTEDVALIDJSON: Data from

[2021-05-19 10:06] #74 closed

[2021-05-19 10:06] #106 closed

[2021-05-19 10:48] bhavin-qryptal commented on #131
![image](https://user-images.githubusercontent.com/84303320/118800659-c0124d80-b8d2-11eb-9389-925b10aef5f0.png)

[2021-05-19 10:49] #121 closed

[2021-05-19 10:53] adelourme commented on #131
Thanks, I just created a pull request to correct that

[2021-05-19 10:55] #131 closed

[2021-05-19 10:58] adelourme commented on #128
We changed certificate value in last commit

[2021-05-19 10:58] #128 closed

[2021-05-19 12:29] bhavin-qryptal commented on #128
@adelourme

There are few more issues to resolved. Please refer to https://github.com/eu-digital-green-certificates/dgc-testdata/pull/135

Thank you.

[2021-05-19 13:13] bhavin-qryptal commented on #130
Hi @gregsons

Reference: https://github.com/eu-digital-green-certificates/dgc-testdata#readme

EXPECTEDEXPIRATIONCHECK: Data from input is valid when verifying at the moment defined in TESTCTX.VALIDATIONCLOCK

In my understanding this means that, Certificate should be valid if it was to be validated @ VALIDATIONCLOCK time. With that logic, DGC Expiry date should NOT be after VALIDATIONCLOCK time.

[2021-05-19 13:36] bhavin-qryptal opened #136 "Interpretation of DGC Test Data Repository for Test Automation and Test Data Issues"
@SchulzeStTSI, FYI and assistance please.

Reference: https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/README.md

## Issue Description
There are some anomaly in this document and test data by various countries as well as under common folder.

1. Which of the following interpretations are correct?
EXPECTEDDECODE: Data from input in CBOR can be decoded, and the contents match

[2021-05-19 14:05] SchulzeStTSI commented on #130
@gregsons The validationclock provides the timestamp where the "scan" is executed. It must be formated in json date time format : 2021-05-16T20:34:51.085231Z (it seems that the most also accept timestamps with offsets)

If you validate the certificate, the dgc expiry should not be after the validationclock time.

[2021-05-19 14:09] SchulzeStTSI commented on #126
@martin-lindstrom i thought we discuss last week in the community call such a flag. Sorry, if misunderstand it.

@psavva I need to align it further. We discuss this flag and a seperate acc repository. But i need to think about it more.

[2021-05-19 14:21] asitplus-pteufl commented on #126
that was our suggestion, we have the impression that having the tests signed with either test/acceptance CAs would help in testing the trust-list implementations and also have the verification apps in a final realistic scenario (they need to act on the trust-list)

[2021-05-19 14:27] bhavin-qryptal commented on #131
@adelourme and @SchulzeStTSI , A couple of more issue still needs to be fixed. Comments @ https://github.com/eu-digital-green-certificates/dgc-testdata/pull/135

Would you like re-open this OR create a new issue?

[2021-05-19 14:51] SchulzeStTSI commented on #130
@gregsons @bhavin-qryptal I've correct it.

[2021-05-19 16:37] bhavin-qryptal opened #141 "FR: Validation issues in Test PCR Sample"
**Affected Country**: FR

@adelourme, For your kind attention.

Validation issues in Test PCR Sample.

Date of Collection and Date of Test Result is not as per the schema. This was reported in https://github.com/eu-digital-green-certificates/dgc-testdata/issues/131 , ticket is closed but issue is NOT fixed.

![image](https://user-images.githubusercontent.com/84303320/118850339-43e42e00-b903-11eb-9

[2021-05-19 16:46] bhavin-qryptal commented on #130
Thank you @SchulzeStTSI . Please comment when code changes is merged.

[2021-05-19 18:39] daniel-eder commented on #141
@bhavin-qryptal thanks for opening an issue for the remaining problems

[2021-05-20 06:18] nodh commented on #74
In my opinion, in both cases the first interpretation.

`COSE` should contain the whole COSE Object, i.e. with protected header, unprotected header, payload and signature. The payload contains a `CWT` that has the keys you mentioned (i.e. issuedAt, expiration, and -260).
`CBOR` should contain the DGC only, i.e. what is wrapped in `1` in `-260` in the payload of the COSE.
This has been discussed in

[2021-05-20 08:25] SchulzeStTSI commented on #130
@bhavin-qryptal To make it conrecte, i check 2.json of PL and they have the following values:

Validation Clock: 2021-05-18T12:22:51.032763Z
 Exp:   Tuesday, 18. May 2021 11:11:07

So from my perspective the Certificate is arround 1 hour expired. @gregsons will provide a fix for the clocks.

[2021-05-20 10:11] jtomasuzis opened #143 "Right to write"
Hello,
I need to upload test data for the Czech Republic, I do not have the right to create a directory and upload data, can you help me?

Thank you

Jakub Tomas

[2021-05-20 10:27] martin-lindstrom commented on #143
Make a fork of the repo, and then a pull request.

[2021-05-20 11:23] NamingException commented on #133
@bhavin-qryptal

Thank you for the report.  Could you confirm that this is valid before I make a pull request?

`
{
  "JSON": {
    "ver": "1.0.0",
    "nam": {
      "fn": "Pluteanu",
      "fnt": "PLUTEANU",
      "gn": "Elena",
      "gnt": "ELENA"
    },
    "dob": "1998-02-26",
    "t": [
      {
        "tg": "840539006",
        "tt": "LP6464-4",
        "ma": "1331",
        "sc": "2021-05

[2021-05-20 11:40] daniel-eder commented on #143
@jtomasuzis Write access has been granted, however the workflow is similar: Create a branch, push it to origin (github) and then create a pull request. One of the team members or member state developers will review it and we'll merge it

[2021-05-20 11:40] #143 closed

[2021-05-20 12:03] bhavin-qryptal opened #146 "NL: EXPECTEDKEYUSAGE"
**Affected Country**: NL

## Issue Description

Very high number of test files are failing EXPECTEDKEYUSAGE test.
e.g. Test DGC Signed with a cert tagged with extended Key Usage 1.3.6.1.4.1.0.1847.2021.1.2 for Vacination Issuers. (Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md )

Refer to https://github.com/bhavin-qryptal/dgc-tes

[2021-05-20 12:30] bhavin-qryptal commented on #133
Hi Teodor,

Yes, this is looking good. Thank you.

Regards
Bhavin

On Thu, 20 May 2021 at 19:23, Teodor Ion ***@***.***> wrote:

[2021-05-20 13:53] jozemlakar commented on #77
Dear all, will check this in the following days. Taking over for Slovenia.

[2021-05-20 15:45] bhavin-qryptal commented on #91
Getting same issue.

101.json , 102.json and 103.json
Expected :b'\x07\x80[%\x0cu\x95\x84'
Actual   :b'767zR6aGLP5dGZqefcPmwCndW56Uo3dodw2avBsvyy8'

[2021-05-20 15:54] taseo opened #150 "BE: Schema issue"
**Affected Country**: BE
## Issue Description

`sc` and `dr` when decoded from `3.json` test case are not string as expected according to the [schema](https://github.com/ehn-digital-green-development/ehn-dgc-schema/blob/main/DGC.combined-schema.json)

[code]

[2021-05-20 16:14] bhavin-qryptal commented on #141
@SchulzeStTSI , This is still not resolved even with latest push. https://github.com/eu-digital-green-certificates/dgc-testdata/commit/b05f820173e29f3f9b3ea0cd0c97c0909f958436

[2021-05-20 16:26] bhavin-qryptal opened #151 "PT: Schema Issues"
**Affected Country**: PT

## Issue Description
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/PT/2DCode/raw/1.json - Presence of empty 'r' and 't' nodes in JSON.
![image](https://user-images.githubusercontent.com/84303320/119014560-abb17c00-b9ca-11eb-997d-4b6b58cb7683.png)

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/PT/2DCode/raw/2.json - Prese

[2021-05-20 16:36] bhavin-qryptal opened #152 "IS: DSC Certificate Issues"
**Affected Country**: IS

## Issue Description

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/IS/2DCode/raw/1.json
Ref: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md
extendedKeyUsage 1.3.6.1.4.1.0.1847.2021.1.1 is for Test Issuers, but it is used for Vaccination Cert.

https://github.com/eu-digital-green-certifica

[2021-05-20 16:43] bhavin-qryptal opened #153 "IT: DSC Certificate Issues"
**Affected Country**: IT

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

DSC Certificate Algorithm is RSA_WITH_SHA256 but Key is of type EllipticCurvePublicNumbers.

Refer:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/IT/2DCode/raw/1.json
https://github.com/e

[2021-05-20 16:48] bhavin-qryptal opened #154 "Test Data Issue - Invalid Certificate Algorithm"
## Issue Description

Test Data Issue - Invalid Certificate Algorithm

Ref: https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/common/2DCode/raw/CO28.json

DSC Certificate is having unsupported Certificate Signature Algorithm: <ObjectIdentifier(oid=1.2.840.10045.4.3.4, name=ecdsa-with-SHA512)>.

## Proposed Solution

Valid values are RSA_WITH_SHA256 and ECDSA_WITH_SHA256

[2021-05-20 16:56] bhavin-qryptal opened #155 "RO: DSC Certificate Issues"
**Affected Country**: RO

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

DSC Certificate Algorithm is RSA_WITH_SHA256 but Key is of type EllipticCurvePublicNumbers.

Refer:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/RO/2DCode/raw/1.json
https://github.com/e

[2021-05-20 17:02] bhavin-qryptal opened #157 "SE: DSC Certificate Issues"
**Affected Country**: SE

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/1.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/2.json
https://github.com/eu-digit

[2021-05-20 17:06] bhavin-qryptal opened #158 "FR: DSC Certificate Issue"
**Affected Country**: FR

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

DSC Certificate Algorithm is RSA_WITH_SHA256 but Key is of type EllipticCurvePublicNumbers.

Refer:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FR/2DCode/raw/recovery_ok.json
https://gi

[2021-05-20 17:12] bhavin-qryptal opened #159 "LU: DSC Certificate Issue"
**Affected Country**: LU

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

DSC Certificate is tagged with unsupported Signature Algorithm: <ObjectIdentifier(oid=1.2.840.113549.1.1.10, name=RSASSA-PSS)> for verification.

Refer:
https://github.com/eu-digital-green-certificates/dgc-testdat

[2021-05-20 17:30] martin-lindstrom commented on #157
No. It's not an error. The spec that you refer to states the following about hash function:

And the SHA-2 family consists of SHA-224, SHA-256, SHA-384, SHA-512, SHA-512/224, SHA-512/256.

[2021-05-20 17:38] martin-lindstrom commented on #155
So. What's wrong with this? Exactly where in the referred document does it say that the CA must use a signature algorithm that corresponds with the public key in the signed certificate?

[2021-05-20 17:39] martin-lindstrom commented on #158
See my comment in https://github.com/eu-digital-green-certificates/dgc-testdata/issues/155

[2021-05-20 17:40] martin-lindstrom commented on #154
No. It's not an error. The spec that you refer to states the following about the hash function:

SHA-2 with an output length ≥ 256 Bit
And the SHA-2 family consists of SHA-224, SHA-256, SHA-384, SHA-512, SHA-512/224, SHA-512/256.

[2021-05-20 17:40] martin-lindstrom commented on #153
See my comment in https://github.com/eu-digital-green-certificates/dgc-testdata/issues/155

[2021-05-20 17:42] bhavin-qryptal commented on #157
Reference: https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v1_en.pdf  - Section 3.3.2 Signature Algorithm

![image](https://user-images.githubusercontent.com/84303320/119024536-c0474180-b9d5-11eb-8579-b7275a198b82.png)

According to this only ECDSA_WITH_SHA256  and RSA_WITH_SHA256  are supported.

[2021-05-20 17:49] bhavin-qryptal commented on #155
Certificate Signature Algorithm is used to identify associated Public Key type. Why would you have Certificate Signature Algorithm ECDSA_WITH_SHA256 with Public Key type RSAPublicKey and vis-a-versa?

[2021-05-20 17:50] martin-lindstrom commented on #157
Yes. But this is related to the signatures of the green certificates. Not the document signing certificates.

[2021-05-20 17:51] martin-lindstrom commented on #155
No. You are wrong.

It's perfectly legal for a CA to use RSA to sign all types of certificates.

[2021-05-20 17:52] bhavin-qryptal commented on #154
Pleaser refer to my response @ https://github.com/eu-digital-green-certificates/dgc-testdata/issues/157

[2021-05-20 17:59] bhavin-qryptal commented on #155
Thank you for clarifying, I have studied this more and realized that I got it wrong, I had wrong understanding before. I would close all these tickets.

[2021-05-20 17:59] #155 closed

[2021-05-20 18:00] #158 closed

[2021-05-20 18:01] #153 closed

[2021-05-20 18:03] bhavin-qryptal commented on #157
Thank you for clarifying. I would close this as per https://github.com/eu-digital-green-certificates/dgc-testdata/issues/155

[2021-05-20 18:04] #157 closed

[2021-05-20 18:04] bhavin-qryptal commented on #159
Thank you for clarifying. I would close this as per https://github.com/eu-digital-green-certificates/dgc-testdata/issues/155

[2021-05-20 18:05] bhavin-qryptal commented on #154
Thank you for clarifying. I would close this as per https://github.com/eu-digital-green-certificates/dgc-testdata/issues/155

[2021-05-20 18:05] #154 closed

[2021-05-20 18:24] bhavin-qryptal opened #160 "Test Data Issue - Invalid KID"
## Issue Description

Test Data Issue - Invalid KID on DGC

Ref: https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/common/2DCode/raw/CO28.json

Invalid COSE kid value

Expected :b'_t\x91\x01\x95\xc5\xce\xcb'
Actual   :b'\x19\x9d\x9c|\xc2\xf0\xc8\xaf'

## Proposed Solution

Use correct KID on COSE Payload.

[2021-05-21 05:46] bhavin-qryptal opened #161 "Clarification Needed: A single DGC with multiple certificates of different types"
## Issue Description
Question: Is it legit to have a single DGC with multiple certificates of different types (e.g. One or more Vaccination Record(s) , Recovery Report(s) and/or Test Report(s)) ?

I recall having read somewhere (could not find that reference anymore) which mentioned that a single DGC could have one more certificates of same types. e.g. Two Vaccination Records (for 1st dose and 2nd

[2021-05-21 05:52] asitplus-pteufl commented on #161
The HCERT spec defines this aspect here: https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md#a4-extended-key-usage-identifiers

you have two options:

- either put in the OIDs you need in the DSC

- or put no OID in the DSC, then it is considered as valid for all types

[2021-05-21 05:55] bhavin-qryptal commented on #161
Thank you. This is helpful. However, I still wish to confirm whether is it legit to have a single DGC with multiple certificates of different types?

[2021-05-21 05:57] daniel-eder commented on #91
@Santivicen can you take a look at this?

[2021-05-21 06:09] asitplus-pteufl commented on #161
I think the official confirmation would be better to have from @SchulzeStTSI
let me verify if I got it right (not quite sure, because you are writing, a single DGC, but I think you mean "a single DSC")
you would like to use a single DSC (the document signing certificate) that signs multiple DGCs types (e.g. test, recovery, vacc), right?
That's the way we do it (Austria), we have a DSC without any

[2021-05-21 06:10] bhavin-qryptal commented on #161
@daniel-eder , @SchulzeStTSI , Kindly help. Thank you.

[2021-05-21 06:11] asitplus-pteufl commented on #161
ah sorry, I think I got your question wrong.
NO, a DGC is only allowed to have one type (test, rec, vacc). Lacking the official link right now

[2021-05-21 06:16] SchulzeStTSI commented on #161
@asitplus-pteufl @bhavin-qryptal Currently is defined that one DGC can have 1 Event from only one type. The definition for the business rules is still in progress.

[2021-05-21 06:17] SchulzeStTSI commented on #160
@bhavin-qryptal This file is copied from the SE set. https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/5.json

[2021-05-21 06:21] martin-lindstrom commented on #160
@SchulzeStTSI The Swedish file was updated to have the correct kid.

[2021-05-21 06:25] bhavin-qryptal commented on #161
Thank you @asitplus-pteufl and @SchulzeStTSI . There very large number of test files from NL which does not comply with this rule e.g. https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/NL/2DCode/raw/310.json

[2021-05-21 06:26] bhavin-qryptal commented on #146
Reference: https://github.com/eu-digital-green-certificates/dgc-testdata/issues/161

There are large number of test files from NL which does not comply with this rule e.g. https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/NL/2DCode/raw/310.json . Please help fix this as well.

[2021-05-21 06:33] dslmeinte commented on #161
On Fri, May 21, 2021 at 8:16 AM SchulzeStTSI ***@***.***>
wrote:

The JSONSchema for the DGC (as JSON payload) allows any number of events
from any type. (In fact, minItems = 1 for the arrays in v, t, and r.) It
seems it'd be a good idea to tighten the schema a bit?

--
With kind regards,

Meinte Boersma (drs./M.Sc.)

Independent consultant and expert in
domain modeling and model-driven software d

[2021-05-21 07:33] jtomasuzis opened #163 "DGC Template Guidelines"
Hello,

I have a general question, will you use the graphic design of DGC in a mobile application according to the DGC Template Guidelines? Or do you use a different design?

[2021-05-21 07:37] bhavin-qryptal opened #165 "ES: Corrupt Test Data JSON Files"
**Affected Country**: ES

## Issue Description

Corrupt Test Data JSON Files. Most likely due to CERTIFICATE field spread across multiple lines.

@Santivicen , @daniel-eder
Looks like due to recent pull request https://github.com/eu-digital-green-certificates/dgc-testdata/pull/156

Reference:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/2001.json
https://gi

[2021-05-21 07:44] bhavin-qryptal commented on #32
New commit has introduced few more failures. e.g. /ES/2DCode/raw/1201.json and /ES/2DCode/raw/1202.json

[2021-05-21 08:03] dslmeinte commented on #32
I see 2001 and 2002 in the same dir. not parsing as JSON.

[2021-05-21 08:15] SchulzeStTSI commented on #160
@martin-lindstrom Thank you very much. I'll update it.

[2021-05-21 08:21] bhavin-qryptal opened #167 "ES: JSON and COSE Payload does not match"
**Affected Country**: ES

## Issue Description

ES: JSON and COSE Payload does not match

Ref:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/502.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/503.json

![image](https://user-images.githubusercontent.com/84303320/119106131-9b43e480-ba50-11eb-9baf-1f6c7ca2bd0a.png)

#

[2021-05-21 08:26] dslmeinte commented on #32
2001 and 2002 have line breaks in the string value of `//TESTCTX/CERTIFICATE`.
1201 and 1202 have "COVID" as disease target, instead of the value set ID "840539006".

[2021-05-21 08:32] bhavin-qryptal opened #168 "ES: EXPECTEDKEYUSAGE"
**Affected Country**: ES

## Issue Description

Test files are failing EXPECTEDKEYUSAGE test. DSC Certificate used is valid for 'Email protection' and 'client authentication' only.

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/1101.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/1102.json
https://github.com/eu-digi

[2021-05-21 08:39] bhavin-qryptal opened #169 "ES: EXPECTEDEXPIRATIONCHECK"
**Affected Country**: ES

## Issue Description

EXPECTEDEXPIRATIONCHECK Failing.

**dgc_issue_date** time is AFTER **validation_clock** time.

Ref:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/1101.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/1103.json

## Proposed Solution

Reference: https://github.com/eu-digi

[2021-05-21 11:02] SchulzeStTSI commented on #160
Closed with https://github.com/eu-digital-green-certificates/dgc-testdata/commit/71d1360ac0cd094e2c03285b4ccbe00160bb1360

[2021-05-21 11:02] #160 closed

[2021-05-21 11:04] SchulzeStTSI commented on #161
@dslmeinte There is currently a open point how we continue with this. My proposal would be to set oneOf for v,t and r, and set maxItems:1 for all entries. But this currently discussed.

[2021-05-21 11:05] bhavin-qryptal opened #172 "CZ: UTF-8 Encoding Issues and Invalid DSC Certificates"
**Affected Country**: CZ

## Issue Description

Reference: https://github.com/eu-digital-green-certificates/dgc-testdata/tree/main/CZ/2DCode/raw (5 scripts under this)

It seems that files are not using UTF-8 Encoding, and DSC Certificate provided is not a valid one.

![image](https://user-images.githubusercontent.com/84303320/119127529-04365700-ba67-11eb-926a-27724d71c6eb.png)
![image](https://us

[2021-05-21 11:07] dslmeinte commented on #161
@SchulzeStTSI oneOf[r,t,v] + maxItems=1 is exactly what I was thinking, to keep things somewhat backward-compatible. (Still begs the question why it wasn't oneOf's with objects instead of arrays in the 1st place.)

Where does this discussion take place?

[2021-05-21 11:09] dslmeinte commented on #172
Also: the cases 1, 3, 4 seem to have BOMs?

[2021-05-21 11:17] SchulzeStTSI opened #173 "SE: validationClockInstant in Testdata"
@martin-lindstrom is there a special reason for validationClockInstant? I saw thisin other country files  as well .

[2021-05-21 11:24] martin-lindstrom commented on #173
@SchulzeStTSI Oops, it must be a mistake in the test generation code. I'll make sure to fix it.

And the reason that you see it in other countries testfiles are most likely that they have copied Swedens solution. I think that this is highly questionable, and only makes sense if the countries in question use the [dgc-java](https://github.com/DIGGSweden/dgc-java) library in the exact way as SE is (w

[2021-05-21 11:35] martin-lindstrom commented on #173
See PR https://github.com/eu-digital-green-certificates/dgc-testdata/pull/174

[2021-05-21 11:42] martin-lindstrom commented on #173
@SchulzeStTSI You seem to have incorporated some sort of check at check-in that fails. https://github.com/eu-digital-green-certificates/dgc-testdata/actions/runs/863709420

Honestly. We need to keep this simple. Nowhere can I find what is failing. The python code that is checking stuff is NOT necessarily correct (which I have proven a couple of times).

[2021-05-21 11:44] daniel-eder commented on #173
@martin-lindstrom the check is still a WIP - I'll remove it from PRs for now, as we have failing files already in the repo. Your checks all passed (a test report is available as workflow artifact), I'll merge the pr.

[2021-05-21 11:45] SchulzeStTSI opened #175 "RO: validationClockInstant"
Please remove validationClockInstant from the files.

[2021-05-21 11:46] SchulzeStTSI opened #176 "SI: validationClockInstant"
Please remove validationClockInstant from the files.

[2021-05-21 11:47] SchulzeStTSI commented on #129
@kristinaleko any update on this?

[2021-05-21 11:48] SchulzeStTSI opened #177 "DK: validationClockInstant"
Please remove validationClockInstant from the files.

[2021-05-21 11:50] SchulzeStTSI opened #178 "BG: EXPECTEDEXPIRATIONCHECK"
Please change EXPTECTEDEXPIRED to EXPECTEDEXPIRATIONCHECK.

[2021-05-21 12:08] kristinaleko commented on #129
@SchulzeStTSI @bhavin-qryptal  the test files have been updated yesterday , it should be resolved now.

[2021-05-21 12:22] daniel-eder commented on #129
@kristinaleko thanks you - the automated check for HR passes, so I'll close this issue.

[2021-05-21 12:22] #129 closed

[2021-05-21 12:23] SchulzeStTSI commented on #175
Thanks!

[2021-05-21 12:23] #175 closed

[2021-05-21 12:54] kristinaleko commented on #95
@daniel-eder @dirkx new qr codes are uploaded, can you retest if this can be closed.

[2021-05-21 12:55] kristinaleko commented on #82
@daniel-eder @martin-lindstrom this is also for retesting uploaded.

[2021-05-21 12:58] kristinaleko commented on #65
@SchulzeStTSI @martin-lindstrom please can you check also this issue, new qodes are uploaded and this can be also closed.

[2021-05-21 12:58] kristinaleko commented on #70
@martin-lindstrom @daniel-eder also for testing and closure :)

[2021-05-21 13:07] #70 closed

[2021-05-21 13:28] dirkx commented on #95
Looks good !
[code]

[2021-05-21 13:28] #95 closed

[2021-05-21 13:32] kristinaleko commented on #95
@dirkx thank you dirk :)

[2021-05-21 13:51] #173 closed

[2021-05-21 15:04] #130 closed

[2021-05-21 20:47] lovasoa opened #187 "How to get access to Document Signing Certificates ?"
Hello,

  I wrote an opensource privacy-preserving verification application for the certificates that are currently being emitted in France (in the 2D-DOC format): https://sanipasse.fr

  I would like to add support for digital green certificates, but there is one point in the implementation that is still not clear to me: where do I get access to the public keys needed to check the certificates ?

[2021-05-22 07:05] bhavin-qryptal opened #188 "PL: DGC Issue Date before DSC's Not Valid Before Value"
**Affected Country**: PL

## Issue Description

[PL/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/PL/2DCode/raw/1.json)

PL: DGC Issue Date is before DSC's Not Valid Before Value

DSC's Not Valid Before Value : 13 May 2021
DGC Issue Date :  27 Mar 2021

## Proposed Solution

Ensure following conditions are true.
1. DSC:not_valid_before <= DGC:issue_date

[2021-05-22 07:16] bhavin-qryptal opened #189 "PL: Test Data Issue for Key JSON"
**Affected Country**: PL

## Issue Description

[PL/2DCode/raw/4.json]([PL/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/PL/2DCode/raw/4.json))

Test Data Payload provided for JSON does not match with COSE / CBOR. Even though, the underlying value is same after time zone conversion, EXPECTEDDECODE and EXPECTEDVALIDJSON tests fails with this.

**As in JS

[2021-05-22 09:20] daniel-eder opened #191 "feat: Automated tests for PRs only on changed files and/or the the affected member state folder"
## Issue Description

Currently, automated tests run on the entire repository, making it hard(er) to identify if a specific PR introduces new errors.

## Proposed Solution

Automated tests should run either:
- only on changed files (see e.g. https://github.com/marketplace/actions/get-all-changed-files )
- or on the country-folder(s) affected by the PR, which in turn can be derived from the affecte

[2021-05-22 10:25] bhavin-qryptal commented on #191
Thank you @daniel-eder for tagging me. Internally, we have been thinking about this issue as well.

Today's change I have submitted is to handle the very same problem you have highlighted. Hope it helps going forward. 

**Details:**
1. Build would be GREEN as long as there ZERO unknown errors. Currently the build should turn GREEN and that means all the known issues are identified.
2. Going forwar

[2021-05-22 10:35] bhavin-qryptal commented on #161
If it helps, recently rolled out test script has a logic to ensure that a single DGC could have one more certificates of **same types**. e.g. Two Vaccination Records (for 1st dose and 2nd dose). However, It would not allow a combination of different types, e.g. Vaccination Report and Recovery Report in one DGC.

Please let me know if the test script criteria need to be tightened further to ensure

[2021-05-22 11:21] dirkx commented on #161
@bhavin-qryptal that needs to await the answer from the legal people.

@SchulzeStTSI  - I am afraid that that is not quite correct - At this point in time - the current version of the regulation does NOT stipulate this.  It allows for a piece of paper (or a barcode or a yellow booklet) to contain multiple V's, T's and R's. And it allows for multiple V, T or R events.

So following the WG meeting o

[2021-05-22 11:28] dslmeinte commented on #161
Because the format (JSONSchema) allows multiples, and legal people are
involved, it seems to me that this {c|sh}ould be a separate business rule,
which also means that 1-event should not be an assumption baked into the
test automation.

On Sat, 22 May 2021 at 13:22, Dirk-Willem van Gulik <
***@***.***> wrote:

--
With kind regards,

Meinte Boersma (drs./M.Sc.)

Independent consultant and expert in

[2021-05-23 15:02] JanKnipp opened #192 "Schema compliance in JSON element of test data"
## Issue Description

I'm currently building a parser of the [dgc-schema for .net](https://github.com/JanKnipp/dgc-lib-dotnet). After implementing and validating the provided test files in [ehn-dgc-schema](https://github.com/ehn-digital-green-development/ehn-dgc-schema) i wanted to do further testing and found this repo.
After adding the extracted json to my unit tests i'm seeing quite a lot of er

[2021-05-23 15:14] bhavin-qryptal commented on #191
Just now I have submitted a pull request (https://github.com/eu-digital-green-certificates/dgc-testdata/pull/193 ), which would enable specifying a country code if anyone desires to run tests for a given country only. By default it would run tests for all countries including common folder using parameter value '*'.

[2021-05-23 15:28] bhavin-qryptal commented on #192
Hi @JanKnipp, As of now, there are some known issues with the test data and we have got bunch of tickets raised against respective countries for that.  You may find the [list of known issues](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/tests/known_issues.csv) of some assistance. Also, FYI, recently a [test data validation script](https://github.com/eu-digital-green-cert

[2021-05-23 15:51] daniel-eder commented on #191
@bhavin-qryptal thanks again for the PR. I think the process with known issues that you set up is a workable way to consider the existing issues in the test data. I'll make a note to re-enable it on PRs - we'll just need to test first if our known issues are up to date (which I haven't gotten around to yet)

[2021-05-23 16:21] daniel-eder commented on #191
Checked & re-enabled to run on PR in #194
I'll close this - might revisit automatically filling the -c flag based on affected folder in the future, but for now the known issues offer a good solution to show only *new* issues a contribution may introduce. Thank you!

[2021-05-23 16:21] #191 closed

[2021-05-23 22:21] M3kH commented on #187
For my understanding, each nation should have `dgc-gateway` and they should be sync trough an European one, would be interesting to know if the European one can be public accessible.

I did find some location that currently seems to point to a temporary test gateway:
- [dgca-verifier-app-ios/blob/main/context.jsonc#L10](https://github.com/eu-digital-green-certificates/dgca-verifier-app-ios/blob/9b

[2021-05-24 10:03] teiwacz commented on #172
Hi about certificate, data are just a public key not a cert. So this works:
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEQLV3BtN60prQ7I1EG5gLwQGsirtP
CYl9fCo3/8pqrT/CJBuk8yrd9REuSSmvriCCTOfxjC2b5qrZhiJgNIc7ZQ==
-----END PUBLIC KEY-----

But I guess the expected content is certificate.
We will fix that with encoding. Thx for feedback

[2021-05-24 14:30] kristinaleko opened #198 "UVCI checksum specification standardisation request"
Hi all,

we have tested the test data from other countries and we have noticed that there are **different interpretations on the UVCI checksum filed in the QR codes.**

There are different UVCI formats CURRENTLY in the test data uploaded in this github:
urn:uvci:01:GR:78J239D5#2,
01BEVLWZMTR61HYQJ3QTQQGU0RNT#0
urn:uvci:01:NL:b54599fc038c45d79bb8013d0b07406e
6fhkn4275xt78akvs7bh62egw339znys

And on

[2021-05-24 23:09] bhavin-qryptal commented on #191
Verification on PR was passing wrong parameter to the test script. This is fixed in https://github.com/eu-digital-green-certificates/dgc-testdata/pull/197

@daniel-eder , Please help approve and merge Verification on PR was passing wrong parameter to the test script. This is fixed in https://github.com/eu-digital-green-certificates/dgc-testdata/pull/197

[2021-05-25 16:16] SchulzeStTSI commented on #192
@JanKnipp The dates of 1963-xx-xx is a valid birthdate in NL. But this generates schema issues. They are working on it to solve it.

[2021-05-25 16:29] Mark-Selezenev opened #208 "RO: PL: AT: IS: Issues with expired certificates."
**Affected Country**: PL, AT, IS, RO

## Issue Description

Currently there is a problem in the validation application with PL certificates 4,5/ AT certificates 3 and 4(Also test certificate in onboarding)/ IS certificates 1 and 2/RO test certificate in onboarding. Upon scanning the QR codes, the validation application produces

2021-05-25 19:20:44.862 14909-14968/dgca.verifier.app.android D/CBOR:

[2021-05-25 16:36] Mark-Selezenev opened #209 "FR: 2nd certificate is invalid because of incorrect Json."
**Affected Country**: FR

## Issue Description

Currently the 2nd French doesn't follow the standard and is sending "DR" and "SC"  as an incorrect type. Expected type is string but the current Json is showing:
2021-05-25 19:31:17.205 14909-14968/dgca.verifier.app.android D/CBOR: After map, map = {4: 1626684738, 6: 1621500738, 1: "FR", -260: {1: {"t": [{**"sc": 1621168496000**, "ma": "1232", **"dr"

[2021-05-25 16:41] Mark-Selezenev opened #210 "DE: GR: IS: IT: LU: LV: PL: PT: SI: SK: Please upload correct public keys to acceptance."
**Affected Country**: DE: GR: IS: IT: LU: LV: PL: PT: SI: SK:

## Issue Description

Currently the uploaded certificates(Test data) do not validate against the public keys uploaded to the acceptance test environment. The public key is either fully missing or the wrong public key has been uploaded.

## Proposed Solution

Please upload correct publickeys.

[2021-05-25 16:56] asitplus-pteufl commented on #208
what i read from the data and from the app description, it is invalid because the CWT has expired. the testdata within the repository contains the validationclock property to indicate the validation time for testing. This is a problem for validation apps, since they will obviously take the current time for validation.
in general, I guess the test data repository will not be updated continuously, w

[2021-05-25 16:56] NamingException commented on #208
This is the message from the RO verification app fork
![image](https://user-images.githubusercontent.com/4199801/119537743-09f7a980-bd93-11eb-93a3-bfd0388d218e.png)

The test data we uploaded was generated to be valid for a number of days and be accompanied by a validationClock. The test entry certificate was valid for 3 days I remember.

We can upload new test entry certificates with longer perio

[2021-05-25 17:25] Mark-Selezenev commented on #208
It would be great if test entry certificates with longer period of validity are uploaded. As mentioned, this is a question of implementation but currently this would fix the - mark in onboarding from some of the countries.

[2021-05-25 17:31] SchulzeStTSI commented on #210
Please mark as well all files with GATEWAY-ENV:["ACC"] in the Testcontext.

[2021-05-25 17:31] asitplus-pteufl commented on #208
yes, but no :-) the test certificates are at least - for us (AT) - created on the pre-production and test-systems, except for the data and the signature certificate they use the same properties as the prod. system, so having a long test validity here would change the test-system to non-real outputs.

for automated tests this is not a problem, since the validation clock property indicates when the

[2021-05-25 17:43] asitplus-pteufl commented on #208
but again, this is a topic for the meeting on wednesday, since there are no clear guidelines on CWT validity

[2021-05-25 18:02] SchulzeStTSI commented on #208
@asitplus-pteufl @Mark-Selezenev Good question. In the automated tests it should not be a problem, because the validation clock can be choosen as necessary. For "real world" tests, it's tricky, because the CWT EXP can be hit after some days. I think for this problem helps only a running QR Code generator in Country A which generates codes that are used for the validation in Country X. But this mus

[2021-05-26 01:55] bhavin-qryptal commented on #107
@wasperen2 , @daniel-eder

I believe, we need to re-open this ticket and reintroduce this entry in known_issues.csv

Schema validation is failing for quite a many files. Refer to examples posted @ https://github.com/eu-digital-green-certificates/dgc-testdata/pull/211

[2021-05-26 06:47] oleksandrsarapulovgl commented on #208
@Mark-Selezenev could you please point me to the QR from description: "Scan the certificates mentioned above."? Can't find it so far

[2021-05-26 08:01] alfo1995 commented on #210
@Mark-Selezenev Italy has uploaded the correct DSC last week, you should be able to validate our QR Code.

[2021-05-26 08:20] daniel-eder commented on #161
@bhavin-qryptal The last status I know about is - as Meinte and Dirk mentioned - that we are still awaiting clarification from legal. @SchulzeStTSI can you update this issue when we have clarification?

[2021-05-26 08:21] daniel-eder commented on #107
Reopening this, I also added it back to known_issues.

[2021-05-26 09:08] dirkx opened #213 "test script fails to parse tag(0) date strings correctly."
## Issue Description

Test scripts appear to not deal correctly with a properly tagged (0) time string (https://datatracker.ietf.org/doc/html/rfc8949#section-3.4.1) according to RFC7049 (https://datatracker.ietf.org/doc/html/rfc7049#section-2.4) table 3 - "Value for Tags".

E.g. passing a QR with

        "XX":0(
            "2021-05-24T24:00:00.000008Z"
          ),

where XX is sc, dr, etc seems

[2021-05-26 09:47] SchulzeStTSI commented on #213
@bhavin-qryptal Can you please add the tag 0 support for date time values?

[2021-05-26 09:55] gunnarif commented on #210
IS: added the GATEWAY-ENV

[2021-05-26 09:57] gunnarif commented on #152
@bhavin-qryptal
Hi! It should be fixed now with the latest pull request.

[2021-05-26 10:36] #210 closed

[2021-05-26 11:42] oleksandrsarapulovgl commented on #208
@Mark-Selezenev Could you please test on latest Android version? I Tested QRs and non is crashing for me

[2021-05-26 11:45] oleksandrsarapulovgl commented on #208
![PL-5](https://user-images.githubusercontent.com/82441124/119654360-0adf1880-be31-11eb-991c-9dfcaa956a0b.png)
![PL-4](https://user-images.githubusercontent.com/82441124/119654362-0b77af00-be31-11eb-8fa5-aa9fad3788ea.png)
![IS-2](https://user-images.githubusercontent.com/82441124/119654363-0b77af00-be31-11eb-83a4-868f8eb8f4a4.png)
![IS-1](https://user-images.githubusercontent.com/82441124/11965436

[2021-05-26 12:18] NamingException commented on #208
I've uploaded new test certificate on confluence valid for 90 days. The ones on github will remain the same

[2021-05-26 13:05] Mark-Selezenev commented on #208
@oleksandrsarapulovgl Which country are you from :) ?

[2021-05-26 13:32] daniel-eder commented on #152
Verified in https://github.com/eu-digital-green-certificates/dgc-testdata/actions/runs/878692667

[2021-05-26 13:32] #152 closed

[2021-05-26 13:34] oleksandrsarapulovgl commented on #208
Ukraine)

[2021-05-26 13:41] daniel-eder opened #220 "SI: Schema validation failed"
**Affected Country**: SI

## Issue Description

#216 fixed #77, but introduced schema validation issues in the json files 1-6 in the standardized family name field, see https://github.com/eu-digital-green-certificates/dgc-testdata/runs/2675618736?check_suite_focus=true

[2021-05-26 13:42] daniel-eder commented on #77
@jozemlakar this seems to be fixed, but please see #220, the PR introduced new issues

[2021-05-26 13:52] daniel-eder commented on #208
#219 fixes this issue for IS, not for all affected countries

[2021-05-26 14:07] rafalgra commented on #208
PL improved the test data: #195

[2021-05-26 14:15] Santivicen commented on #169
Hi, we find other errors on that test, and remove them. We are going to solve all the problems, like the one that you tell us here, thanks.

[2021-05-26 14:16] Santivicen commented on #167
We have submitted new tests and remove old ones. Could yo check new ones (502, 503), please?

[2021-05-26 14:16] Santivicen commented on #165
Hi, we have remove that wrong test. There was a problem with pull request and old files where added on it. So sorry.

[2021-05-26 14:18] Santivicen commented on #104
Hi we have check that test, and has previous errors that We have solved. I think we have a problem with the pull request. We remove that test and we are checking what happen with that test

[2021-05-26 14:18] #104 closed

[2021-05-26 14:21] daniel-eder commented on #165
Thank you, @Santivicen !

Closed in #200

[2021-05-26 14:21] #165 closed

[2021-05-26 14:25] Santivicen commented on #91
Hi, We have submit this test in our last pull request, could you take a look, please?

[2021-05-26 14:46] daniel-eder commented on #91
Files 101, 102, 103 are now valid as per https://github.com/eu-digital-green-certificates/dgc-testdata/actions/runs/878871168 (see xpasses)

[2021-05-26 14:46] #91 closed

[2021-05-26 14:51] daniel-eder commented on #220
@jozemlakar 1.0.0 of the json schema provides the following regex https://github.com/eu-digital-green-certificates/ehn-dgc-schema/blob/02bf437b1f2efe80982e3172a85a757e549b3c64/DGC.combined-schema.json#L95

Note that this field is the standardized family name, for the original name you can use https://github.com/eu-digital-green-certificates/ehn-dgc-schema/blob/02bf437b1f2efe80982e3172a85a757e549b3

[2021-05-26 14:53] jozemlakar commented on #220
Much clearer, will fix ASAP.

[2021-05-26 15:02] bhavin-qryptal commented on #213
In hand.

On Wed, 26 May 2021 at 17:47, SchulzeStTSI ***@***.***> wrote:

[2021-05-26 15:26] jozemlakar commented on #220
Added PR #222

[2021-05-26 16:52] bhavin-qryptal commented on #150
@taseo @daniel-eder This could be closed, as test is running successfully against latest file with a minor change I have committed.

[2021-05-26 16:55] bhavin-qryptal commented on #32
@SchulzeStTSI and @daniel-eder , This could be closed as latest tests for ES are good.

[2021-05-26 16:58] bhavin-qryptal commented on #189
@SchulzeStTSI and @daniel-eder , This could be closed as latest tests for PL are good.

[2021-05-26 16:58] bhavin-qryptal commented on #213
@SchulzeStTSI and @daniel-eder , This could be verified and closed.

[2021-05-26 17:02] bhavin-qryptal commented on #168
@SchulzeStTSI and @daniel-eder , This could be closed as latest tests for ES are good.

[2021-05-26 17:03] bhavin-qryptal commented on #169
@SchulzeStTSI and @daniel-eder , This could be closed as latest tests for ES are good.

[2021-05-26 17:04] bhavin-qryptal commented on #188
@SchulzeStTSI and @daniel-eder , This could be closed as latest tests for PL are good.

[2021-05-26 18:52] #188 closed

[2021-05-26 18:52] #168 closed

[2021-05-26 18:53] #189 closed

[2021-05-26 18:53] #32 closed

[2021-05-26 18:56] #213 closed

[2021-05-26 18:57] #150 closed

[2021-05-26 19:02] daniel-eder commented on #220
Closed in #222

[2021-05-26 19:02] #220 closed

[2021-05-26 19:47] dirkx commented on #198
"_the checksum is used in the digital certificates and not on the paper certificates. "_ - it is just the other way round (see the appendix) -- the checksum is optional for the _paper_ printout where human re-entry is likely.

It is **not** needed in digital rendition (as they are signed) where there is no re-entry and error correction needed. And they just take up valuable bit space.

So we shoul

[2021-05-27 08:25] JChrist opened #227 "<CZ>: Data not following schema"
**Affected Country**: CZ

## Issue Description

Schema validation does not pass due to `fnt` and `gnt` fields, that do not match the pattern: `^[A-Z<]*$`
This is the case for `1.json`, `3.json` and `4.json`

## Proposed Solution
Please fix the test data to contain valid `fnt` and `gnt` fields according to schema.

[2021-05-27 09:11] bhavin-qryptal commented on #169
@daniel-eder , Please help re-open this. Test is failing for three files.

[code]

[2021-05-27 09:15] bhavin-qryptal opened #228 "ES: EXPECTEDVERIFY Failure"
**Affected Country**: ES

## Issue Description

EXPECTEDVERIFY Check is failing for 401.json, 402.json and 403.json.

ref:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/401.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/402.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/ES/2DCode/raw/4

[2021-05-27 11:07] gregsons opened #231 "CY: usage of V1 version of X509 certificates"
**Affected Country**: CY

## Issue Description

CY uses the **V1** version of X509 certificates.
Following dictionary states that it is meant to be V3 version:
https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#13terminology

## Proposed Solution
Regenerate certificates to be V3 version.

@psavva - can you check it?
@SchulzeStTSI - could you co

[2021-05-27 11:23] Mark-Selezenev opened #232 "LV: Schema failed too many miliseconds."
**Affected Country**: LV:

## Issue Description

Currently the test certificate in onboarding is giving isSchemaValid: false

Reason:

error: string "2021-05-25T18:33:59.7315849+03:00" is invalid against requested date format(s) [yyyy-MM-dd'T'HH:mm:ssZ, yyyy-MM-dd'T'HH:mm:ss.SSSZ]
level: "error"
schema: {"loadingURI":"#","pointer":"/$defs/test_entry/properties/dr"}
instance: {"pointer":"/t/0/dr"}

[2021-05-27 11:47] daniel-eder commented on #82
Passes automatic test now

[2021-05-27 11:47] #82 closed

[2021-05-27 11:51] rafalgra opened #233 "ES: Incorrect type and values for attributes Issued At and Expiration Time"
**Affected Country**: ES

## Issue Description

ES is not using integer NumericDate format for attributes Issued At and Expiration Time in CWT Structure (payload section).
Official documentation (https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md) specifies:
3.3.5 Expiration Time
The Expiration Time (exp) claim SHALL hold a timestamp **in the integer NumericDate fo

[2021-05-27 12:15] #172 closed

[2021-05-27 12:15] #227 closed

[2021-05-27 12:25] bhavin-qryptal commented on #172
@daniel-eder , This issue is not resolved. All the files are still having encoding issues. Please re-open and also revert known_issues.csv

[2021-05-27 12:28] daniel-eder commented on #172
@bhavin-qryptal can you verify this again on latest main? While #230 did not fix it, it seems #234 did.
This test is from after we merged #234 and removed the known issues: https://github.com/eu-digital-green-certificates/dgc-testdata/runs/2684757827 and it passed. The PR also had the issues in xpasses.

[2021-05-27 12:32] bhavin-qryptal commented on #172
@daniel-eder , Yes indeed, you are correct. Please ignore my earlier comments.

[2021-05-27 15:21] gunnarif commented on #210
@SchulzeStTSI  should this be closed?

[2021-05-27 15:39] SZoerner commented on #119
@JChrist @lab-incert  Thank you for pointing out - I uploaded new content, now with the kid correctly calculated. May I ask you to retest?

[2021-05-27 15:49] psavva commented on #231
The DSC is created using the guidance as per the certificates guide:
https://github.com/eu-digital-green-certificates/dgc-participating-countries/blob/main/gateway/CertificatePreperation.md#dsc-conf

I would request that the guide is updated for X509v3 and we'll adapt to the changes as to generate the correct version.

The guide above generates X509v1

[2021-05-28 01:41] bhavin-qryptal opened #239 "Unable to fetch JSON Schema"
## Issue Description

Test Validation script is failing at it is unable to fetch schema from https://id.uvci.eu/DGC.schema.json which redirects to https://raw.githubusercontent.com/ehn-digital-green-development/ehn-dgc-schema/main/DGC.schema.json and give error 404.

## Proposed Solution

Ensure  https://id.uvci.eu/DGC.schema.json works. It should direct to https://raw.githubusercontent.com/eu-dig

[2021-05-28 02:24] psavva commented on #231
@SchulzeStTSI please can you confirm?

[2021-05-28 05:25] daniel-eder commented on #239
Thanks for letting me know!
I can't immediately influence the redirect, but I've manually linked to our local fork of the schema, which will usually be updated when we received confirmation of a schema change (such as the recent renaming of the schema file)

[2021-05-28 05:42] daniel-eder commented on #119
@SZoerner 1-2 pass the kid check now, 3 still fails, see https://github.com/eu-digital-green-certificates/dgc-testdata/actions/runs/884511158 (filterable html is attached as artifact)

PS: If you create a PR the test verification script runs on it automatically and you'll see xfails (known issues that still fail) and xpasses (for known issues that no longer fail) as well as new issues that were po

[2021-05-28 06:01] daniel-eder commented on #239
Updated the URL to `https://id.uvci.eu/DCC.schema.json`, it resolves correctly now

[2021-05-28 06:01] #239 closed

[2021-05-28 06:13] JChrist commented on #119
hi @SZoerner, now the PNGs are working perfectly.
However, it seems that the PNGs are not matching the json test files.
For the json test data, the kid is correctly identified now, but the json test data contain an invalid `iat` field compared to the VALIDATIONCLOCK field
For example, for 1.json:
[code]

[2021-05-28 09:07] Mark-Selezenev opened #242 "DE: LU: IS: Public keys do not pass validity check against CSCA. (Acceptance)"
**Affected Country**: DE: LU: IS:

## Issue Description

Your public keys do not verify against CSCA so they are not trusted and although they are in the acceptance test, we can't accept them according to the reference materials.

## Proposed Solution

I am not sure, technically we can drop the check but that will make the solution less secure. And if it was part of the reference materials then we

[2021-05-28 09:41] JChrist opened #243 "CZ: invalid `iat` field"
**Affected Country**: CZ

## Issue Description
All json test data provided by CZ contain an `iat` that is later than the contained VALIDATIONCLOCK

## Proposed Solution
Please amend the test data to contain `iat` field earlier than the VALIDATIONCLOCK

[2021-05-28 09:45] JChrist commented on #233
Also, the `iat` field is past the VALIDATIONCLOCK.
eg. for `1101.json`
VALIDATIONCLOCK: 2021-05-17 09:11:47.777Z
iat: 2021-05-24 11:18:18.000

[2021-05-28 10:05] JChrist opened #244 "IS: EXPECTEDKEYUSAGE is false for valid key usage for 3.json"
**Affected Country**: IS

## Issue Description
Test file `3.json` has EXPECTEDKEYUSAGE field set to `false`, while the key contained in the `CERTIFICATE` does not specify any extended key usage DGC specific flags, thus it is considered valid for all usages.

## Proposed Solution
Set the EXPECTEDKEYUSAGE field to `true`

[2021-05-28 10:22] Mark-Selezenev commented on #242
Perhaps when you uploaded the proper CSCA was there but then after somebody deleted the CSCA?

[2021-05-28 10:27] JChrist opened #245 "LU: `iat` is past `VALIDATIONCLOCK`"
**Affected Country**: LU

## Issue Description
In `1.json` the `iat` field is past the VALIDATIONCLOCK

## Proposed Solution
Fix the `iat` field to be earlier than the VALIDATIONCLOCK

[2021-05-28 10:29] gunnarif commented on #242
Hi!
Here is a code that can validate the IS DSC against the CSCA currently in the ACC
https://dotnetfiddle.net/zcpQWX

So I don't see any issue
Or is the validation failing for other reasons?

[2021-05-28 10:39] JChrist opened #246 "PL: EXPECTEDSCHEMAVALIDATION is false due to invalid `co`"
**Affected Country**: PL

## Issue Description
The test file `8.json` is expected to fail due to invalid `co` field, not being a valid ISO 3166 country code.
However, the schema is a little bit ambiguous on the subject:
`"description": "Country of Vaccination / Test, ISO 3166 where possible",`
It is my understanding that verifiers should not reject a certificate when the ISO 3166 code is not valid

[2021-05-28 11:52] Santivicen commented on #233
Hi @rafalgra I have submitted that files with changes on IssuedAt and Expiration fields, could yo check it to close this issue, please?

[2021-05-28 12:04] Mark-Selezenev commented on #242
We tried the CSCA and DGC from acceptance with your code it works.

The reference code https://github.com/eu-digital-green-certificates/dgc-lib though does more and we are currently looking in to it. But it doesn't currently validate using the reference code.

[2021-05-28 18:56] gregsons commented on #242
Concerning DE's DSC KID="f1sfUVIx8CA=".
We use the reference implementation of **dgc-lib** which doesn't validate/accept mentioned KID. In consequence that KID is not provided to the national backend and then to the validation app.

It seems that current implementation of dgc-lib doesn't accept the sub-CA structure of CSCA.
CSCA:
- KID: "lkLenRso6HI="

![obraz](https://user-images.githubuserconten

[2021-05-28 19:42] thinkberg commented on #242
Can anyone explain what the exact problem is? It was accepted and it adheres to the rules in the trust framework.

[2021-05-28 21:57] thinkberg commented on #242
We explicitly asked before. It looks like the library does not adhere to the rules (from the trust framework guidelines):

[code]

In fact, this means that the trust anchor is the uploaded CSCA, nothing else.

[2021-05-28 22:19] SchulzeStTSI commented on #242
When the DSC and the CSCA is visible by the /trustlist call of the gateway, then the CSCA and the DSC pass successfull the content checks of the gateway. Means the technical validation was possible and everything is fine with the certificates. The problem with the dgc lib seems like a bug in the lib. Therefore please provide the following information:

1. Try a Curl call on the /trustlist/DSC/DE.

[2021-05-29 05:13] asitplus-pteufl commented on #242
we can sucessfully validate all DE QR-codes, thus the DSC must have been correctly offered by the GW and accepted by our trust list.

[2021-05-29 07:04] ArtursMednis commented on #232
It is corrected now, would you retest please.

[2021-05-29 08:14] SchulzeStTSI commented on #242
@asitplus-pteufl You are using the current version of the dgc-lib as well right? On which java version/environment let you run it?

@Mark-Selezenev Which java version/environment are you using?

[2021-05-29 08:15] #119 closed

[2021-05-29 09:02] gregsons commented on #242
@SchulzeStTSI FYI: PL env config:
`Java: alpine_3.11_openjdk11:1.1`
`CentOS Linux release 7.9.2009 (Core)`

[2021-05-29 09:21] SchulzeStTSI commented on #151
@bhavin-qryptal Are the schema issues still shown in the validation script?

[2021-05-29 09:45] Mark-Selezenev commented on #242
I will clarify with the our guys when somebody answers.

Meanwhile may be this is somehow related to this: https://bugs.openjdk.java.net/browse/JDK-8146293%20targeted%20for%2011

[2021-05-29 14:04] f11h commented on #242
Hello,
the problem is in dgc-lib gateway connector when trying to validate the CSCA issuance of a DSC. The problem only occurs when one of the certificates relies on a RSA-PSS PrivateKey.

I've just released a new version of dgc-lib which fixes this problem. I was now able to download and verify all 49 DSC from ACC environment with dgc-lib connector.

You can find the new version here: https://git

[2021-05-29 15:51] bhavin-qryptal commented on #151
I believe yes. Unless some recent change by anyone else.

[2021-05-30 07:31] psavva opened #252 "DE: Certificate Signing Algorithm / Size"
@SZoerner   Please check this with high urgency:

https://github.com/eu-digital-green-certificates/dgca-verifier-service/issues/42

I can see that one of your CSCA: 2.5.4.97 = NTRDE-HRB74346,CN = D-TRUST Root Test CA 2 2018,O = D-Trust GmbH,C = DE

is using the RSA-SSA-PSS Signature Algorithm, with a Key-Size of 4096.
I think this is causing the problem with validation of the CSCA against the DSC

[2021-05-30 09:21] SchulzeStTSI commented on #252
@psavva There was a issue the last date which alreay solved that problem with a fix: https://github.com/eu-digital-green-certificates/dgc-testdata/issues/242

[2021-05-30 09:24] psavva commented on #242
I will go ahead and merge and test

[2021-05-30 12:05] psavva commented on #252
Closing this issue, Fix has been tested and verified working.

[2021-05-30 12:05] #252 closed

[2021-05-30 12:12] psavva commented on #231
I have now confirmed the issue, and will upload a new DSC to retest using X509v3.
The new DSC will be uploaded and new Test will also be uploaded.

@lexin10 We can work on this on Monday morning

[2021-05-30 13:43] wasperen commented on #146
fixed by PR #254

[2021-05-30 14:00] gregsons commented on #210
PL has correct DSC public keys uploaded to the DGCG's acc env.
If there are any validation issues with currently uploaded public keys, let us know please.

[2021-05-30 14:21] gregsons commented on #163
Hi @jtomasuzis
PL has created own design based on the current national verification app.

[2021-05-30 19:35] #242 closed

[2021-05-31 07:50] gregsons commented on #246
Hi @SchulzeStTSI, could you look on above comment? Shall we correct the mentioned test file?

[2021-05-31 08:43] Mark-Selezenev commented on #242
We rebuilt the containers with the new library and re-deployed. Everything should be resolved, at least for EE.

[2021-05-31 09:05] teiwacz commented on #243
Can you please clarify what iat stands for.  Thank you.

[2021-05-31 10:01] JChrist commented on #243
The time when the certificate was created, as defined by the [spec here](https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md#336-issued-at)

[2021-05-31 12:57] rafalgra commented on #233
It's okay now :)

[2021-05-31 12:57] #233 closed

[2021-06-01 13:03] SchulzeStTSI commented on #161
@bhavin-qryptal The regulation clarifies now this topic: only one type of certificate with one entry is allowed. Means only one v OR t OR r Record with maximum one item in the array.

[2021-06-01 13:30] teiwacz commented on #243
Hello, can you recheck the issue. The pull should fix that. Thx

[2021-06-02 05:19] bhavin-qryptal commented on #161
Thank you for the confirmation. I have made change in the test script to reflect this. ref: https://github.com/eu-digital-green-certificates/dgc-testdata/pull/261

[2021-06-02 09:59] ubamrein opened #263 "BE: Tagged CBOR Structs cannot be decoded"
**BE**:

## Issue Description

When using the fork of the [SwiftCBOR library](https://github.com/eu-digital-green-certificates/SwiftCBOR) and the data in this repository, we get the following error:

  ▿ dataCorrupted : Context
    ▿ codingPath : 3 elements
      ▿ 0 : AnyCodingKey(stringValue: "8", intValue: 8)
        - stringValue : "8"
        ▿ intValue : Optional<Int>
          - some : 8

[2021-06-02 11:07] psavva commented on #231
X503v3 DSC has been uploaded.
ALL Cyprus QR Codes will be deleted from this repository today, and new X509v3 Certificates will be used.
Once uploaded, I will close this issue.

[2021-06-02 13:38] SchulzeStTSI commented on #263
@ubamrein The structure of the BE codes looks good to me in the test data. Do you have any example what is not able to decode?

[2021-06-02 13:43] SchulzeStTSI commented on #263
@ubamrein Please consider that the validation core swift had an update:

https://github.com/ehn-digital-green-development/ValidationCore/blob/main/Sources/ValidationCore/Cose.swift#L56

as well the ios app core:

https://github.com/eu-digital-green-certificates/dgca-app-core-ios/blob/main/Sources/Services/CBOR.swift#L46

[2021-06-02 15:09] SchulzeStTSI opened #268 "EE: Please provide JSON Files to PNGs"
@arturnovek Can you please upload the RAW JSONs

[2021-06-02 15:18] SchulzeStTSI opened #269 "LV: _2DCODE instead of 2DCode"
Please remove the underscores in your files of RAW.

[2021-06-02 15:32] #269 closed

[2021-06-02 15:34] SchulzeStTSI commented on #243
@JChrist Can we close the issue?

[2021-06-02 22:10] pjsramos commented on #151
This issue was solved in last update

[2021-06-02 22:59] bhavin-qryptal commented on #151
Thank you @pjsramos . @daniel-eder ,  I have updated the known issue list.

[2021-06-02 22:59] #151 closed

[2021-06-03 08:17] ubamrein commented on #263
Thanks for the hint! The problem was actually in the pull strategy in the `Package.swift` File. We changed the repository URL without removing the version restriction.

Using the main branch directly seems to work for now (at least decoding :))

[2021-06-03 08:17] #263 closed

[2021-06-03 12:34] JChrist commented on #243
I checked again with latest main branch (commit: 3b8e92998a7bd23418d53e9a24c4df54e3acc82d), however I still had failures for CZ `iat` field in 1.json and 3.json.
For 1.json:
Certificate is NOT issued YET! now:2021-05-31 14:11:37.501563Z iat:2021-05-31 17:11:38.000

For 3.json:
Certificate is NOT issued YET! now:2021-05-31 14:04:23.803752Z iat:2021-05-31 17:04:24.000

[2021-06-03 13:09] vanlooverenkoen commented on #233
[code]

The issued at is still a double.
testfile: `1101.json`

[2021-06-03 13:24] vanlooverenkoen commented on #233
Apparently, 1101.json is not the only one I will create a list with all the files that are still using doubles for ES

- 1101.json (issued at only)
- 401.json (both expiration & issued at)
- 1002.json (issued at only)
- 1501.json (both expiration & issued at)
- 502.json (issued at only)
- 703.json (both expiration & issued at)
- 702.json (both expiration & issued at)
- 201.json (both expiration &

[2021-06-03 13:27] vanlooverenkoen commented on #141
[code]

The sc field is not yet updated when using `prefix`

[2021-06-03 13:52] teiwacz commented on #243
Hello are you sure that when you are loading time that you are loading it as UTC not your local time as the diff between times are +3h (Greece local). Thanks for check.

[2021-06-03 14:28] JChrist commented on #243
While it is printed as Greek local time, it is not loaded as such, since iat field is seconds since epoch

[2021-06-03 15:37] teiwacz commented on #243
Ok, looks like it's problem with rounding secs in epoch, I will fix the validationclock time. Change will be available right after builds will work.

[2021-06-04 08:57] psavva commented on #231
https://github.com/eu-digital-green-certificates/dgc-testdata/pull/279

[2021-06-04 09:37] bhavin-qryptal opened #280 "All validation tests are failing while attempting Schema validation"
## Issue Description
All validation tests are failing while attempting Schema validation. Reason: https://id.uvci.eu/DCC.schema.json as well as https://id.uvci.eu/DGC.schema.json does NOT work.

@daniel-eder , Please help resolve.

[2021-06-04 10:01] #243 closed

[2021-06-04 11:14] daniel-eder commented on #280
@bhavin-qryptal It seems someone changed the target of the id.uvci.eu URL redirects to an invalid github URL. These id.uvci.eu URLs are not under our direct control, I have to follow up to find out what happened here.

[2021-06-04 11:54] daniel-eder commented on #280
Also see https://github.com/ehn-digital-green-development/ehn-dgc-schema/issues/94

[2021-06-04 12:23] dirkx commented on #280
Stop gap in place (unversioned request go to main) -  lets discuss what is the right approach is with respect to using version numbers. And making sure test run against a (range) of specific versions in a controlled fashion.

[2021-06-04 12:45] dirkx commented on #280
Stop gap updated on request of TSI to 1.0.1 - TSI plans to used versioned test post 1.2.X

[2021-06-04 13:05] #280 closed

[2021-06-05 13:30] jeroentrappers opened #283 "ES, HR and DK: Invalid Test Specification"
**Affected Country**: ES, HR, DK

## Issue Description

I believe these test files are invalid. They specify that BASE45 decoding should be succesful, but do not provide the COMPRESSED input field in the test specification.

```EXPECTEDB45DECODE: Data from input in BASE45 can be decoded (from Base45), and matches input in COMPRESSED```

dgc-testdata/HR/2DCode/raw/4.json
dgc-testdata/HR/2DCode/raw/

[2021-06-05 13:38] jeroentrappers opened #284 "Useless compression / worse than doing nothing"
## Issue Description

In the processing pipeline for creating a DCC, the COSE structure first compressed before being BASE45 encoded.
There are many files where this compression step has adverse effect on the final size of the data to be encoded. This depends on the compressibility of the input and the used parameters for the compression algorithm.

dgc-testdata/common/2DCode/raw/CO1.json
Warning:

[2021-06-06 12:23] SchulzeStTSI opened #285 "ES: ECDSA Signature Length"
@Santivicen I've checked your Test Files with the ECDSA Signatures and it seems that they have a size bigger than 64 bytes (around 96+ bytes) Can you crosscheck that?

[2021-06-06 12:30] SchulzeStTSI commented on #285
@bhavin-qryptal It seems that the CI script doesn't see this kind of signature errors. Can you crosscheck it as well? (File 401.json for ES)

[2021-06-07 03:21] bhavin-qryptal commented on #285
@SchulzeStTSI , Currently test is flagging that for 401.json signature could not be validated as XFAIL. I believe, this is correct. Please provide bit more details if you are expecting different behavior from the test script.

[2021-06-07 11:04] vanlooverenkoen opened #288 "ES: issued At & expiration time are using doubles instead of ints"
As stated in this issue https://github.com/eu-digital-green-certificates/dgc-testdata/issues/233 some test files are still using doubles instead of ints for ES

The issued at is still a double.
testfile: 1101.json
[code]
Apparently, 1101.json is not the only one I will create a list with all the files that are still using doubles for ES

- 1101.json (issued at only)
- 401.json (both expiration & i

[2021-06-07 11:27] taseo opened #289 "PL: Wrong Extended key Usage Identifiers"
**PL**

## Issue Description

According to https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v1_en.pdf section A.4 when issuer decides to include key usage identifiers there should be 3 expected formats.

Currently PL certificates (for example `2.json`) has them in wrong format (`1.3.6.1.4.1.1847.2021.1.2`)

## Proposed Solution

Use correct OIDs, please provi

[2021-06-07 19:58] gregsons commented on #289
Hi @taseo
References:
1. https://github.com/ehn-dcc-development/hcert-spec/blob/main/hcert_spec.md#a4-extended-key-usage-identifiers
2. https://github.com/eu-digital-green-certificates/dgc-overview/blob/main/guides/certificate-governance.md#43document-signer-dsc

Hope it helps.

[2021-06-07 20:31] taseo commented on #289
Thank you for the references!

For example, if we look at second link, we can see it references the same EU document, but OIDs there are different.

There is also disclaimer in that document, that other documents might specify other OIDs. But is there any supporting document that states that these github sources have any legal weight and can be taken as source of truth? Or it supposed to be a copy

[2021-06-07 20:37] SchulzeStTSI commented on #289
@taseo There was an inconsistency in the hCert spec which generates a conflict with the certificate governance document. In cause of this inconsistency, verifiers must now support both OIDs (with ".0" and without). This change will be announced this week in the official meetings.

[2021-06-08 02:16] psavva commented on #231
Please confirm and close this issue

[2021-06-08 02:20] psavva commented on #284
We should either compress is not.  Please do not have an inconsistent approach where we only may compress sometimes...

Better consider using a better algorithm for compression

[2021-06-08 11:57] taseo commented on #289
Thank you very much for the details @SchulzeStTSI and @gregsons

[2021-06-08 12:06] vanlooverenkoen commented on #141
Yes everything is working fine after that fix. Thanks

[2021-06-08 12:59] bhavin-qryptal opened #298 "BG: EXPECTEDSCHEMAVALIDATION"
**Affected Country**: BG

@stamo , @SchulzeStTSI and @daniel-eder - FYI.

## Issue Description

Payload does not comply with Schema.

Ref:
BG/2DCode/raw/1.json
BG/2DCode/raw/2.json

[code]
![image](https://user-images.githubusercontent.com/84303320/121188968-3388f880-c89c-11eb-90e4-74bb4c684fd8.png)

## Proposed Solution
Removing these NULL values should resolve the issue.
[code]

[2021-06-08 14:57] martin-lindstrom commented on #284
The thing is that when the hcert-spec was written it was said that more than one entry should be able to appear in the DCC.

[2021-06-08 15:43] stamo commented on #298
Thanks a lot we are aware of that, that's why we issued 3 and 4 which are correct. The problem is that we have issued approximately 1000000 certificates in production with these null objects and we are asking everyone to make schema validation a little bit softer, to accept these QR codes

[2021-06-08 17:45] SchulzeStTSI commented on #298
@bhavin-qryptal Sorry for the confusion. There is an exception currently for BG which should ignore nulls for arrays and a different format for DOB. Can you relax the schema f.e. like if(countryCode=="BG") then the type of r is not array, but ["null","array"]. DOB should be as well allowed for T00:00:00. We wait for the final decision tomorrow.

[2021-06-08 18:15] louridas opened #304 "Pull request pending because of problem with other member state's data"
## Issue Description

I have submitted new test data for Greece. Although GR test data pass the tests, BG tests fail. That means that the pull request is flagged and is still not merged.

This delays testing with other countries; please merge the pull request and in general find a way to merge pull requests that fail because of other member states' test data (which, by the way, should not have fou

[2021-06-09 04:25] #304 closed

[2021-06-09 04:27] SchulzeStTSI commented on #298
@bhavin-qryptal Let's see how we handle this. I would like to copy the schema into the script(folder) instead of loading it live. Then we can relax it easily. The official schema should not be touched.

[2021-06-09 04:39] bhavin-qryptal commented on #298
@SchulzeStTSI , Are you suggesting to modify the schema before it is used for validation by test script? In that case, wouldn't such code fail validation when real life apps and services try to validate such codes?

[2021-06-09 06:32] SchulzeStTSI commented on #298
@bhavin-qryptal Currently is the discussion about, if the verifier should do a mandatory validation of the schema. The most of the people cite Postal's Law, which means that the issuer should be very strict, but the verifier must be so flexible as possible. Under this assumptions the verifier schema can be relaxed, but the issuer must still following the strict one. Currently we have some apps out

[2021-06-09 06:38] bhavin-qryptal commented on #298
@SchulzeStTSI ,  Thank you for explanation, it is useful. For now, validation script is marking such tests as XFAIL. Test script could be updated after today's discussion. It MIGHT be a good idea to have two sets of schema, One for issuer and other for validator.

[2021-06-09 12:06] JChrist commented on #284
just noting that it is possible to identify if the payload is actually compressed, by reading the zlib magic headers (the first two bytes):
[code]
So, if the first byte is 78 hex (120 decimal), you can assume that it is compressed.

[2021-06-09 12:26] vanlooverenkoen opened #312 "FI: Missing Certificate in TESTCTX"
**FI**

The pull requests should not be merged if unit tests are failing

## Issue Description

Certificate is missing from the follow files.:
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FI/2DCode/raw/1.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/FI/2DCode/raw/2.json
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main

[2021-06-09 17:21] gregsons commented on #232
@Mark-Selezenev , question:
is the format "yyyy-MM-dd'T'HH:mm:ss.**SSS**Z" for sure agreed? Specifically **miliseconds** part.

References:
https://github.com/ehn-dcc-development/ehn-dcc-schema#cbor-encoding
https://datatracker.ietf.org/doc/html/rfc3339#section-5.6

In the RFC3339 in section-5.6 the part after seconds (after ".") is specified as:
 `time-secfrac    = "." 1*DIGIT`

[2021-06-09 17:27] SchulzeStTSI commented on #298
@bhavin-qryptal Let's relax the schema here for the codes. What do you think where should place in the best case the schema copy?

[2021-06-09 17:33] gregsons opened #314 "LV: Providing "ma" attribute for NAAT examples"
**LV**

## Issue Description

Concerning a QR code for a NAAT test from https://github.com/eu-digital-green-certificates/dgc-testdata/blob/1673a054d2dd874f508ffb0b2f539fdd3616ba56/LV/2DCode/raw/2.json:

[code]

The "ma" attribute is dedicated for RAT tests, so it shouldn't be provided in QR code for NAAT tests.

## Proposed Solution

Delete the "ma" attribute in NAATs' QR codes.

@ArtursMednis

[2021-06-09 17:39] Mark-Selezenev commented on #232
May be the standard changed already but when we tried this 12 days ago the miliseconds were not allowed. May be something changed from then. @gregsons It also failed through the reference app.

[2021-06-09 17:40] Mark-Selezenev commented on #232
This requirement that you see on screen is from the reference android app from 12 days ago.

[2021-06-09 18:20] ofirewings commented on #232
@gregsons thank you for deepening the topic.

According to RFC3339 in section-5.6:

I might be wrong but according to RFC2234 in section 3.6 Variable Repetition

should consent at least one repetition of the element `DIGIT` with no upper bound for element occurrences.

...
 Default values are 0 and infinity so that *<element> allows any number, including zero; 1*<element> requires at  least  one

[2021-06-09 21:39] gregsons commented on #232
Hello @SchulzeStTSI any comments on above? It would be appreciated.
FYI: currently our (PL) national verifier app is not prepared to manage seconds' fraction, and in general it would be great to know to what degree shall a verifier app be prepared to parse received date-time strings.

[2021-06-10 04:36] bhavin-qryptal commented on #298
@SchulzeStTSI , Please help me with few basic queries.

1. Who would author the schema to use for validation?
2. How would this new set of validation only schema be controlled and how would it remain in sync with schema use for generation?
3. Likewise https://id.uvci.eu/DGC.schema.json, could we have new set of schema available at some public URL (e.g. https://id.uvci.eu/DGC.validation.schema.json

[2021-06-10 05:08] lari-kannisto commented on #312
Pull request #315: CERTIFICATE added to json files

[2021-06-10 05:55] martin-lindstrom commented on #232
IMHO a validator app should not fail no matter how many fractions that are present. This is a typical example of Postel's law, and since we know that by default many code frameworks try to be as specific as possible, it is really unwise to reject a DCC just because too many fractions.

[2021-06-10 07:00] vanlooverenkoen commented on #298
In the future, this should be discussed first. Before we merge such a pull request. Right now all pull requests are merged even if the checks are failing. If the schema should be relaxed, this github checks should be relaxed as well so we don't have problems when other countries create a new pull request.

[2021-06-10 07:04] Mark-Selezenev opened #316 "EE: PLEASE try our new codes in the onboarding table and report the result."
## Issue Description

PLEASE try our new codes in the onboarding table and report the result. (Don't use the IOS version, because it crashes and the bug has been reported)

## Proposed Solution

[2021-06-10 07:51] DKvarn commented on #316
I have tested the QR-codes with our iOS verifier app and it works, the iOS version (SwiftCBOR) got a fix about two weeks ago https://github.com/eu-digital-green-certificates/SwiftCBOR/commit/9210abf60c16ab8be8e106cc126d6daa6931e2c0
 or are you referring to another bug?

[2021-06-10 08:07] Mark-Selezenev commented on #316
Can you post that also here: https://github.com/eu-digital-green-certificates/dgca-app-core-ios/issues/56 @DKvarn

[2021-06-10 08:10] Mark-Selezenev commented on #316
@DKvarn Also please mark with + + + in the onboarding table.

[2021-06-10 08:20] DKvarn commented on #316
@Mark-Selezenev the fix are implemented in dgca-app-code-ios about 12 days ago so SwiftCBOR shouldnt be the problem

[2021-06-10 09:33] #231 closed

[2021-06-10 10:08] taseo commented on #289
`6.json` contains vaccination certificate, but OID specified is meant for recovery certificates; `EXPECTEDKEYUSAGE` is marked wrongly as `true`

[2021-06-10 13:16] goebelUB opened #319 "CZ: TESTCTX->VERSION is not an integer but a string"
**Affected Country**:  CZ

## Issue Description

The VERSION in the TESTCTX in the Czech test sets are strings, whereas this repo's README [defines ](https://github.com/eu-digital-green-certificates/dgc-testdata#raw-content)them as integers.
E.g. in [CZ/2DCode/raw/1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/CZ/2DCode/raw/1.json):
[code]

## Proposed Solution

Ch

[2021-06-10 13:48] gregsons commented on #316
Validation by PL at 2021-06-10 15:47 CEST
**VAC**: OK
**TEST**: OK (expired by PL rules)
**REC**: OK

[2021-06-11 07:56] Mark-Selezenev opened #323 "ES: Publickey validates against CSCA in verify service but doesn't appear on the list/doesn't get sent."
## Issue Description

It seems several countries are experiencing this right now that the ES publickey is in the ACC(acceptance) backend but countries can't see it including Estonia. I checked the logs and they do validate against their CSCA but it doesn't get put on the list or gets transmitted to the App or other implementations.

We are currenctly using the Java version of the verify service.

[2021-06-11 08:25] #316 closed

[2021-06-11 09:33] Mark-Selezenev commented on #323
Currently the publickey verified against CSCA but it doesn't get published on the list and is not distributed to the app (tried with android)

07:24:02.216  INFO 7 --- [   scheduling-1] e.e.e.d.g.c.DgcGatewayDownloadConnector  : Got Response from DGCG, Downloaded Certificates: 78

2021-06-11 07:24:02.217  INFO 7 --- [   scheduling-1] e.e.e.d.g.c.DgcGatewayDownloadConnector  : KID: B4BbJQx1lYQ=   T

[2021-06-11 09:35] Mark-Selezenev commented on #323
Our developers also said that the verifier also checks with UPLOAD certificate which the verify service can't find for this kid. We can skip this check but is it allright?

[2021-06-11 10:36] #312 closed

[2021-06-11 10:50] vanlooverenkoen opened #325 "FI: Unable to load certificate"
[code]

**FI**

## Issue Description

We are not able to open/read the FI certificate for all jsons.

After merging https://github.com/eu-digital-green-certificates/dgc-testdata/pull/317

## Proposed Solution

Not sure if we are doing something wrong.

[2021-06-11 10:53] jeroentrappers commented on #325
I tested with this version of openssl, got the same result.
[code]

[2021-06-11 10:54] jeroentrappers commented on #325
Seems that the ASN.1 javascript decoder can read the contents. I will investigate our x509 parser.

https://lapo.it/asn1js/#MIIF7zCCA9egAwIBAgIEHhIP4TANBgkqhkiG9w0BAQsFADCBsDELMAkGA1UEBhMCRkkxITAfBgNVBAoTGFZhZXN0b3Jla2lzdGVyaWtlc2t1cyBDQTE4MDYGA1UECxMvU29zaWFhbGktIGphIHRlcnZleWRlbmh1b2xsb24gcGFsdmVsdXZhcm1lbnRlZXQxRDBCBgNVBAMTO1ZSSyBDQSBmb3IgU29jaWFsIFdlbGZhcmUgYW5kIEhlYWx0aCBDYXJlIFNlcnZpY2UgUHJv

[2021-06-11 14:04] jeroentrappers commented on #325
this issue may be closed. Resolved in the scannings app.

[2021-06-11 14:05] lari-kannisto commented on #325
I'm using python to check the Certificate:
from cryptography import x509
from cryptography.hazmat.backends import default_backend
import re
import sys
import json
import base64

def base64_to_cert(data: str):

    b64_decoded = base64.b64decode(data, validate = True)
    cert = x509.load_der_x509_certificate(b64_decoded, default_backend())
    result = re.search("C=(.*?)[,\)]", str(cert.subject))

[2021-06-11 15:06] fynngodau opened #326 "DE: Both vaccination QR codes have same ID"
**Affected Country**: DE

(possibly others, I haven't checked)

## Issue Description

It is not possible to add both the first (final vac. / Full immunisation) and fourth (first vac. / Partial immunisation) QR code to the Corona-Warn-App. The reason is that both codes have the same certificate ID.

CWA refuses to add two vaccinations with the same ID for obvious reasons. Otherwise, it would be abl

[2021-06-11 15:40] jeroentrappers commented on #325
The value in TESTDATA["TESTCTX"]["CERTIFICATE"] should just ber DER format anyway right?

[2021-06-11 16:53] loujensen-dk commented on #323
Hi Mark,

We've done a quick query to the repository and our key appears in the EU repository (see imaged attached).
Could it be that we're uploading the certificate wrong and the disable-upload-certificate-check fails?

I think it would be helpful to raise this issue in the next QA session, as other countries have reported that the signer key is missing.
![MicrosoftTeams-image (13)](https://user-

[2021-06-12 06:52] lari-kannisto commented on #325
Basically it is PEM format with begin certificate and end certificate tags removed. Effectually that is base64 encoded DER.

[2021-06-12 07:42] jeroentrappers commented on #325
@vanlooverenkoen this issue may be closed.

[2021-06-12 07:43] #325 closed

[2021-06-13 19:53] vaubaehn commented on #326
For reference/somewhat related discussion: https://github.com/ehn-dcc-development/ehn-dcc-schema/issues/64

[2021-06-14 07:01] SchulzeStTSI commented on #323
Can you please check if you use the latest dgc-lib?

[2021-06-14 11:31] SchulzeStTSI commented on #298
@vanlooverenkoen Yes you are absolutley right. This was an quick merge, just to highlight the current situation with the productive codes.

@bhavin-qryptal Regarding your questions:

1. The schema is created within this repo: https://github.com/ehn-dcc-development/ehn-dcc-schema in multiple versions. We should create under "tests" a  folder with the different version 1.0,1.1,1.2 etc and copy them

[2021-06-14 11:43] vaubaehn commented on #298
Verifier apps _and wallet apps_ .
Adjustments to the schemas made in the past two weeks and problems with implementations on issuer's side are already causing problems with wallet apps and verifier apps, where (previous) schemas and validation rules are hardcoded, see issue mentioned above @SchulzeStTSI 's reply.

Are developers of wallet and verifier apps are informed pro-actively from your side

[2021-06-14 12:43] bhavin-qryptal commented on #298
Purpose if the validation script is to ensure that all the codes issues / submitted by member state complies with the standards. Actual validator app could have liberal implementation but the validation script should have stricter checks to ensure good compliance (e.g. schema compliance). Otherwise, we would miss capturing important compatibility issues upfront.

[2021-06-14 16:08] SchulzeStTSI commented on #298
@vanlooverenkoen We announce all changes in our regular meetings. This kind of changes were announced last week, after the report from bulgaria at monday.

@bhavin-qryptal OK agreed. We should keep this repo as it is to ensure more compliance. I will contact stamo and then we move the codes to another repo for "in field" compatibility/versioning checks.  Thank you. I let you know when we have setu

[2021-06-14 21:15] vitorpamplona commented on #284
Zlib over CBOR is only useful if there are several repeated strings in the payload.

It was more effective before the requirement to have only one payload type into the QR. When we had 3+ credentials, most of them would come from the same jurisdiction and the zlib would do its magic.

If the payload is a single event, it does very little to the payload.

[2021-06-14 21:27] vitorpamplona commented on #284
Now that we have test data from almost everyone, we can run a study on how much the zLib is truly compressing and choose the threshold we want. For instance, if the maximum compression is 5%, do we even care about including zLib?

Including zLib and any other compression mechanism adds complexity, requires processing power, slows things up from issuers and verifiers. The question is: how much comp

[2021-06-15 14:25] carballAcc commented on #323
From the Spain team. The Acceptance publickey has been re-uploaded with an updated upload certificate. We have also updated the version of the library. Can you test if you can see the Spanish publickey now?

[2021-06-15 15:43] #146 closed

[2021-06-16 07:06] ArtursMednis commented on #314
This is corrected now.

[2021-06-16 08:11] #314 closed

[2021-06-16 15:22] daniel-eder opened #339 "LI: ValidationError: 'ver' is a required property"
File: LI/2DCode/raw/4.json
[code]

[2021-06-16 15:23] daniel-eder opened #340 "HU: ValidationError: '"DUDÁS" Háziorvosi Korlátolt Felelősségű Társaság - Háziorvosi ellátás (2. számú körzet) (120091092)' is too long"
File: HU/2DCode/raw/3.json
[code]

[2021-06-16 15:25] daniel-eder opened #341 "LT: test_cose_json / test_cbor_json failure"
File: LT/2DCode/raw/2.json

[code]

[code]

[2021-06-17 14:25] linuxator00 opened #342 "Maximum data of QR codes not provided"
## Issue Description

Test data for QR codes with maximum dataset missing. Does anyone know if the maximum size qr code has been specified by the EU?

So far i haven't seen qr codes with more than 580 bytes. How many bytes could a dgc qr code achieve?

## Proposed Solution

[2021-06-20 20:51] sebokmarton opened #344 "HU: Wrong medical product (mp) identifier"
**Affected Country**: HU

## Issue Description

The Hungarian vaccination QR-codes (both in dgc-testdata & dcc-quality-assurance) contain the display name of the vaccine instead of its code.

https://github.com/eu-digital-green-certificates/dgc-testdata/blob/7fe0958e3c9db79a2b424477a480e7a38cd8509d/HU/2DCode/raw/1.json#L15

## Proposed Solution

Replace with code (e.g., `EU/1/20/1507`).

[2021-06-24 14:10] #342 closed

[2021-06-28 08:48] bhavin-qryptal commented on #169
Closing this ticket and test data is modified to exclude this test.

[2021-06-28 08:48] #169 closed

[2021-06-28 09:02] bhavin-qryptal commented on #141
@daniel-eder and @adelourme

This ticket needs to be re-opened. "dr" and "sc" value of JSON payload (Right) does not match with CBOR /COSE payload (Left).

![image](https://user-images.githubusercontent.com/84303320/123609814-997cf600-d832-11eb-8599-7ced4161e7bd.png)

[2021-06-28 09:50] bhavin-qryptal opened #356 "RO: EXPECTEDSCHEMAVALIDATION"
**Affected Country**: RO

## Issue Description

Ref: [RO/2DCode/raw/2.json]

[code]
## Proposed Solution

Only one entry should exists under claim "v" .

[2021-06-28 09:54] bhavin-qryptal opened #357 "SK: EXPECTEDSCHEMAVALIDATION"
**Affected Country**: SK

## Issue Description

Ref: [SK/2DCode/raw/3.json]

[code]

## Proposed Solution

Only one vaccination record should exist in a given DGC.

[2021-06-28 09:55] bhavin-qryptal commented on #341
@daniel-eder , This ticket could be closed now. I have fixed test script to ignore microsecond value while comparing COSE , CBOR and JSON payload.

[2021-06-28 10:03] #341 closed

[2021-06-28 10:06] #319 closed

[2021-06-28 12:08] Mark-Selezenev commented on #323
Yeah it is working now. Closing.

[2021-06-28 12:08] #323 closed

[2021-06-28 12:25] bhavin-qryptal commented on #107
@daniel-eder Would you be able to help reaching out to concerned team to move this forward?

Now test data validation script supports validation against multiple different Schema versions. With that, 100+ tests are failing due to this issue.

[2021-06-29 19:51] vanlooverenkoen commented on #339
@phuber is it possible to fix this issue?

[2021-07-01 13:49] phuber commented on #339
Sure, we'll upload updated certificates by the end of the week!

[2021-07-01 13:50] vanlooverenkoen commented on #339
Thanks.

[2021-07-01 19:11] jsiwrk opened #373 "ES: Real certificates being issued with wrong schema (national ID number in the schema version field)"
A freelance contributor here. Probably this is not the proper place to report this. The issue is not about test data in this repo, but with real health certificates being issued in Catalonia (ES). I have detected this in my own vaccination certificates (the 2nd of them issued just now) and other people's, using the [hcert-kotlin](https://github.com/ehn-dcc-development/hcert-kotlin) library. I cann

[2021-07-05 11:51] phuber commented on #339
Should be fixed for 4.json - could you please checkagain @vanlooverenkoen?

Thanks and best regards,
Patrick

[2021-07-05 11:55] vanlooverenkoen commented on #339
Looking good

[2021-07-05 13:03] #339 closed

[2021-07-06 13:32] jbx1 commented on #187
Did you discover which is the right official URL for the central European one?

[2021-07-06 13:51] lovasoa commented on #187
Yes, https://sanipasse.fr does now support DGC certificate verification. And I set up a github action that automatically updates the certificates by connecting to the french gateway and publishes it.

 - The automatically updated list of certificates: https://github.com/lovasoa/sanipasse/blob/master/src/assets/Digital_Green_Certificate_Signing_Keys.json
 - The script that connects to the french ga

[2021-07-06 13:59] jbx1 commented on #187
Thanks for all the details. So there is no official central DGCG yet as far as you know? Only the national backend ones.

[2021-07-06 14:04] dslmeinte commented on #187
Have a look at this doc: https://github.com/eu-digital-green-certificates/dgc-participating-countries/blob/main/gateway/OnboardingChecklist.md
(@SchulzeStTSI : that's the correct one, right?)

[2021-07-06 14:50] daniel-eder commented on #187
This issue slipped my notice - the DGCG only acts as an "exchange" for the national backends, there is no direct access of validation services to the DGCG. Similarly, there is no global or eu-wide list of certificates, rather each member state as sovereignty over the trustlist their national backend publishes.

To validate a DCC, you need to get access to your member state's trustlist.

See https:

[2021-07-06 14:50] #187 closed

[2021-07-23 20:54] Cifinta opened #381 "Need Boosting service from wood rank to grandmaster"
Issue with creating QR codes for the nhs travel pass or just a EU one in general, using several sources of information and posts on github. either way I can't output a QR code after trying several things so thought I'd post about it to see if I can get some help, would be much appreciated.

Can someone give me an idea on what software they are using to get these QR codes asap please.

Here's what

[2021-07-24 08:27] SchulzeStTSI commented on #381
@Cifinta Just to understand your request correct: you want to generate and sign a DCC structure beginning from the scratch?

If yes, you should start here:

https://github.com/ehn-dcc-development/hcert-kotlin

A very good library for generating DCCs. How to use it's in the readme. Works as well for JAVA. But please keep in mind, that you can not proper sign a DCC without a valid document signer ce

[2021-07-25 09:04] hrvach opened #382 "IE: Test data and production certs data type misalignment"
**Affected Country**: IE

## Issue Description

Ireland prod certificates differ from the test data and deviate from the schema by using the wrong data type.

Test data:

[code]

Prod QR code data (other info omitted for privacy reasons):
[code]
dn and sd should be a positive integer, not float to be in accordance to the schema. Test data is valid here, prod data seems wrong. This likely breaks at

[2021-07-25 22:33] jsiwrk commented on #373
The issue seems corrected in newly issued health certs. Closing.

[2021-07-25 22:33] #373 closed

[2021-07-27 19:02] azzouzze opened #383 "test data does not pass validation of TAC Verif"
need your help validating test data on Verif.
why are all QR code not passing TAC Verif, frence app ?

thank you

[2021-07-28 05:41] daniel-eder commented on #383
The testdata in this repository may be signed with keys from the test environment, the productive apps may fail on such testdata.
If you head over to https://github.com/eu-digital-green-certificates/dcc-quality-assurance you can find testdata that is either allready production, or soon to be in production (may vary from qr code to qr code)

[2021-07-28 05:41] #383 closed

[2021-08-06 17:11] lovasoa commented on #187
For anyone who would stumble on this issue now: automatic fetching of the certificates from the french backend is now implemented in sanipasse:

 - https://github.com/lovasoa/sanipasse/blob/master/src/assets/Digital_Green_Certificate_Signing_Keys.json
 - https://github.com/lovasoa/sanipasse/blob/master/fetch_certificates.js

[2021-08-09 17:48] knoepfchendruecker opened #387 "CH: testdata contains live, validating certificates"
**Affected Country**: CH

## Issue Description

Out of curiosity, I checked dgc-specs on certain details and scanned various QR codes from different countries, using the iOS release versions of both "CovPass Check" (Germany) and "CovidCheck.lu" (Luxembourg), installed on iPhone via Apple's (German) App Store.

Most tested QR codes did "fail" validation using those live/release/production apps, whi

[2021-08-09 18:06] knoepfchendruecker commented on #387
Link to referenced testdata: https://github.com/eu-digital-green-certificates/dgc-testdata/tree/main/CH/

[2021-08-11 14:48] ubamrein commented on #66
Are there any updates on this? I find various discussions, of which some are closed and some are open, with no real "it is like this" answer.

I have seen now that various countries added multiple vaccination entries as special cases in the https://github.com/eu-digital-green-certificates/dcc-quality-assurance repository. And I was wondering, how should that be handled? I mean since everything in

[2021-08-13 10:34] simonh1000 opened #388 "BE: can't inflate test data"
**Affected Country**: BE

## Issue Description

I am able to decode the data in my own QR Code (covidsafe app), but while the prefix data [here](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BE/2DCode/raw/1.json#L29) can be base45 decoded, it cannot be Inflated, nor can it be converted into cbor.

## Proposed Solution

[2021-08-16 06:42] daniel-eder commented on #387
@SchulzeStTSI can you look at this and evaluate?

[2021-08-16 10:25] PeterEbraert commented on #388
Hello there,

Don't understand what the problem is... Can you get into contact with me on slack to elaborate on this?

Thanks,

Peter Ebraert (team BE)

[2021-08-16 15:21] krlnokrl commented on #387
I haved scanned the dgc-testdata json files against the production trustedList kids.
Multiple countries are using their production keys to sign the fictitious testdata.

Affected countries:
CH, ES

Affected keys: 2
Production valid test-certificates: 18

VALID:dgc-testdata/CH/2DCode/raw/7.json
VALID:dgc-testdata/CH/2DCode/raw/10.json
VALID:dgc-testdata/CH/2DCode/raw/14.json
VALID:dgc-testdata/CH/2

[2021-08-18 11:59] simonh1000 commented on #388
Hi, I can't find a way to join Slack, so let me try to be clearer.

I'm trying to get the data from the QR Code.

My own certificate has content of `HC1:...`.  If I pass it through a multi stage process of
- drop "HC1:" from front
- decode base45
- Gzip.inflate
- decode the binary cbor data

I get the expected json.

But with the [test data](https://github.com/eu-digital-green-certificates/dgc-tes

[2021-08-18 12:37] krlnokrl commented on #388
Hello,

I believe there might be an issue with your implementation. Using the [python trivial implementation](https://github.com/ehn-dcc-development/ehn-sign-verify-python-trivial/blob/main/hc1_verify.py) the testdata decompresses fine.
I have tested the string with a few implementations of zlib and they all pass.

The specification requires the use of zlib compression format. Gzip is not the same

[2021-08-18 13:30] simonh1000 commented on #388
My mistake - it is inflateZLib that I am using, so that's not the error.

I'm doing this in Elm using https://package.elm-lang.org/packages/folkertdev/elm-tiny-inflate/latest/Inflate so there could be a bug there i guess

I'll play around some more

[2021-08-19 06:15] daniel-eder commented on #388
@simonh1000 to join slack visit https://github.com/eu-digital-green-certificates/dgc-overview, the table contains an invite link

[2021-08-19 10:08] Ein-Tim commented on #326
Btw, is it intended that the DE codes (and the AT too) don't have a valid signature?

[2021-08-19 10:46] asitplus-pteufl commented on #326
which AT codes would have an invalid signature?
(they must all be valid, signed with a key that is available on the acceptance GW)
Can you provide more details, thx!

[2021-08-19 10:59] Ein-Tim commented on #326
@asitplus-pteufl

I'm not able to scan any of the certificates in https://github.com/eu-digital-green-certificates/dgc-testdata/tree/main/AT/png with the German Corona-Warn-App. They all result in a "Signature not valid" error,

[2021-08-19 11:04] asitplus-pteufl commented on #326
you are using a productive app (from the app stores)? Those would never trust the test certificates... except you have a special version that uses a dedicated "test trust list"...

[2021-08-19 11:14] Ein-Tim commented on #326
Ah, okay thank you @asitplus-pteufl 👍

[2021-08-19 21:35] philios33 commented on #187
Perhaps a silly question but...

I'm wondering about the sovereignty thing.  Doesn't this architecture open the door for, (e.g.) Romania to dis-trust France if it wanted to and remove all FR certificates from its backend?  They would of course be well within their sovereign rights to do so, but this kind of thing makes a big difference to how developers of validating software are programming the s

[2021-08-19 21:59] lovasoa commented on #187
You should get it from the state from which your application will be used. If you want your application to work everywhere, you will have to connect to all backends individually.

[2021-08-20 10:03] simonh1000 commented on #388
It's somewhere in my own base45 decoding - apologies

[2021-08-20 10:03] #388 closed

[2021-09-08 10:09] MaximilianKresse opened #399 "PL: EXPECTEDVALIDJSON v>0>dt doesn't match the 'date' format"
**Affected Country**: PL
## Issue Description

- PL/1.0.0/2DCode/raw/11.json
- PL/1.0.0/2DCode/raw/12.json
- PL/1.0.0/2DCode/raw/13.json
- PL/1.2.1/2DCode/raw/11.json
- PL/1.2.1/2DCode/raw/12.json
- PL/1.2.1/2DCode/raw/13.json
- PL/1.3.0/2DCode/raw/11.json
- PL/1.3.0/2DCode/raw/12.json
- PL/1.3.0/2DCode/raw/13.json

Following the json specification the field v>0>dt is described as: "The date when

[2021-09-08 13:24] MaximilianKresse opened #400 "SE: Cannot validate signature of 1.json"
**Affected Country**: SE

## Issue Description
I'm trying to to run my own verifier above the test data but I have trouble validating the signature of /SE/2DCode/raw/1.json.

At the moment 268 tests run successfully and I cannot find any problem on my side.

Is the signature correct of this file? Can someone please verify this.

[2021-09-08 14:30] MaximilianKresse opened #401 "ES: Issue date after VALIDATIONCLOCK"
**Affected Country**: ES

## Issue Description
For some test files the TESTCTX > VALIDATIONCLOCK is before the Issue date. In my opinion these shouldn't validate as successful!

- 1102.json Issue date 2021-05-24 08:10:09.933000 VALIDATIONCLOCK 2021-05-17 09:10:47.327000
- 1103.json Issue date 2021-05-24 08:15:30.760000 VALIDATIONCLOCK 2021-05-17 09:10:47.327000
- 2101.json Issue date 2021-05-28 10

[2021-09-08 14:39] MaximilianKresse opened #402 "ES: EXPECTEDSCHEMAVALIDATION failed"
**Affected Country**: ES

## Issue Description
Currently I'm using the rules loaded from https://distribution.dcc-rules.de. When using this rules for the test data the following entries fail:
- 1501 - The vaccination schedule must be complete (e.g., 1/1, 2/2).
- 1502 - The positive NAA test result (e.g., PCR) must be no older than 6 months.
- 1503 - The sample for an antigen test (e.g., rapid test

[2021-09-08 14:44] MaximilianKresse commented on #401
The following test files from other countries are also affected:

- /FR/2DCode/raw/recovery_ok.json  Issue date 2021-05-19 14:37:12.000000 VALIDATIONCLOCK 2021-05-18 20:00:00.000000
- /FR/2DCode/raw/vaccin_ok.json Issue date 2021-05-19 14:21:15.000000 VALIDATIONCLOCK 2021-05-18 20:00:00.000000
- /LU/2DCode/raw/INCERT_R_DCC_Recovery.json Issue date 2021-06-10 08:48:57.000000 VALIDATIONCLOCK 2021-06

[2021-09-08 14:59] MaximilianKresse commented on #245
Yes! See #401

/LU/2DCode/raw/INCERT_R_DCC_Recovery.json
The Issue date is 2021-06-10 08:48:57 and the VALIDATIONCLOCK is 2021-06-04 07:10:00

[2021-09-11 21:48] wege2003 opened #403 "Create your own certificate? Is this possible"
Hello there!
i have one question about the generation of certificates.

## Issue Description
Is it possible to create your own certificate with a normal qr-encoder? I am scared if this is possible because then everybody can fake their covid 19 certificates? Do you know if its possible or not?

## Proposed Solution
If this is possible i hope they will fix it, otherwise this would be scarry

[2021-09-13 08:42] daniel-eder commented on #403
Hi @wege2003

This is an important topic, and it was considered when the system was designed.
As a result, this is not possible. DCCs use a digital signature to verify the certificate was created by a valid authority. That means if someone without an accepted private key creates and signs a certificate, it will be recognized as invalid. Similarly, if someone would modify a valid and signed certifi

[2021-09-13 08:42] #403 closed

[2021-09-20 19:11] kjetilpp opened #404 "NO: Not valid"
The QR code for Norway is not valid (expired)

[2021-09-28 12:36] arunextasy commented on #187
@lovasoa running your https://github.com/lovasoa/sanipasse/ in local will be able automatic fetching of the certificates from the french backend?. If not please let me know the steps for connecting french backend with your sanipasse code deployment in local.

[2021-09-28 12:53] lovasoa commented on #187
The script to fetch the data is here: https://github.com/lovasoa/sanipasse/blob/master/fetch_certificates.js
You will need to get a token, either by asking politely, or by decompiling the french smartphone app.

[2021-09-28 13:44] lovasoa commented on #187
I meant ask the INgroup (which maintains the API), not me.

[2021-09-29 04:00] arunextasy commented on #187
@lovasoa thanks. Can you please provide me the link for french smartphone mentioned above.

[2021-09-29 04:07] arunextasy commented on #187
@lovasoa thanks. I have one more query the gateway you mentioned is french. Does this gateway also support for EU Pass and Swiss Pass?

[2021-09-29 06:57] lovasoa commented on #187
It contains the list of signing authorities ACCEPTED by France. The list is here: https://github.com/lovasoa/sanipasse/blob/master/src/assets/Digital_Green_Certificate_Signing_Keys.json

I think it contains all the certificates all countries that use the dgc, although theoretically, France could decide not to accept a given country.

[2021-10-01 09:13] daniel-eder opened #407 "FI: error parsing asn1 value"
[code]

[2021-10-05 07:01] arunextasy commented on #187
@lovasoa I got the working token from https://1101011.xyz/com.ingroupe.verify.anticovid/index.html here. Any Idea whether this token can be used as a opensource. As I don't find any document related to the usage of it.

[2021-10-07 09:39] ikbendewilliam opened #410 "SG: expiration_time claim is missing (key 4)"
## Issue Description

During our automated testing, we encountered an issue with the new raws published by SG.

Expiration time claim is missing (see [CWT Structure Overview](https://github.com/ehn-dcc-development/hcert-spec/blob/main/hcert_spec.md#331-cwt-structure-overview))
Expiration Time (exp, claim key 4)

## Proposed Solution

Add the claim

[2021-10-12 08:27] lovasoa commented on #187
I don't think the examples in the repo are not signed with valid keys ! These are examples signed with example keys.

[2021-10-17 10:54] Spamuser00 opened #413 "Need Help with the Generation of QR Code"
Hi there,

You did an amazing work, but wich Software does I need to convert the json to a QRCode? I tried different website with converters but doesn't work.

Can you give me a tip?

Thanks

[2021-10-26 21:51] MA1GitHub opened #414 "Where to get the official public keys for each country?"
Is there any rest endpoint to get the public key for each EU country? Or any other ways to get the official public keys?

[2021-10-27 09:27] #414 closed, assigned to SchulzeStTSI

[2021-11-08 09:32] Blizzard1992 opened #422 "JSON"
JSON

_Originally posted by @Blizzard1992 in https://github.com/eu-digital-green-certificates/dgc-testdata/issues/421#issuecomment-962967479_

[2021-11-08 09:33] #422 closed

[2021-11-25 06:26] lalc opened #433 "<2-SE>: <The valid to field is missing from the QR code>"
**Affected Country**:

## Issue Description
In the QR code data structure, the field “Valid until” is missing”. This means if someone want to verify and automate it directly from the QR code it is not possible today.

## Proposed Solution
Add valid to field in the data structure.

[2021-11-25 17:42] lenoleno commented on #141
Is `t/dr` a valid tag?  Can anyone please give a pointer to the specification of the `t/dr` tag?  I cannot find it in [this spec as of 2021-06-09](https://ec.europa.eu/health/sites/default/files/ehealth/docs/covid-certificate_json_specification_en.pdf), which discusses all the other tags.

[2021-11-30 12:31] zielony666 opened #436 "Who would help me and teach me how to create a Covid certificate (I will pay)"
hey i'm new here. I understand a lot about it, what's going on and how, but I can't connect it all.
if someone invested some time to explain, I would be grateful.
End of course I will pay for this help.
I speak 3 languages: German, Polish and English, but a bit weaker

[2021-11-30 12:42] zielony666 commented on #436
@SchulzeStTSI can we talk on Telegram?

[2021-12-01 10:48] daniel-eder commented on #436
@zielony666 to find a community of people working with DCCs you might want to join the slack channel linked in https://github.com/eu-digital-green-certificates/dgc-overview#where-can-i-find-

[2021-12-02 05:44] DAWWAL commented on #436
I need help creating my qr code

[2021-12-06 22:58] beermeer commented on #436
Hey @zielony666
Also a German here and I speak english and a little big polski. Ich würde mich gerne anschließen. Telegram?

[2021-12-06 22:59] beermeer commented on #436
@DAWWAL me also, did you find out something?

[2021-12-06 23:01] beermeer commented on #413
Are there any update news? Pls help

[2021-12-08 16:14] pascalkania opened #439 "DE: Recovery Certificate 3.json not valid"
**Affected Country**: DE

## Issue Description

The recovery certificate (see [here](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/DE/2DCode/raw/3.json) is no longer valid or it fails with the current date when checking the business rules with certlogic.
It is very difficult to set the validation clock, so it should be replaced with a newer certificate.

Or is there a way

[2021-12-08 21:31] Pujski commented on #436
@beermeer hast du was herausgefunden?

[2021-12-08 21:38] beermeer commented on #436
Nein, leider nicht. Und du? :/

[2021-12-08 21:40] DAWWAL commented on #436
??

śr., 8 gru 2021, 22:39 użytkownik beermeer ***@***.***>
napisał:

[2021-12-08 21:58] Pujski commented on #436
Sorry. Just replied, if he found some help by that.

[2021-12-12 10:56] jbx1 opened #441 "Support for booster vaccinations?"
## Issue Description
Schema version 1.3.0 (9th June 2021), which is still the latest release, ​states that a certificate will only contain one vaccination entry:

How will booster (3rd) jabs, from different manufacturers than the first/second one be represented? Will there be a different Vaccination Certificate altogether, or will this schema be enhanced to support multiple entries (as it was orig

[2021-12-12 12:16] Lorenzo-Venturelli commented on #441
The certificate represents exactly one event (in this case, exactly one jab). The booster will be represented by increasing the number of administered jabs (for example 3/2 for two doses vaccines or 2/1 for single dose vaccines). This is because the "required doses" field is only about the "main vaccination cycle" while boosters are potentially unlimited.

Regarding the mixed vaccination, many cou

[2021-12-15 13:27] ZEcaptn commented on #436
Hello Guys, can someone give me some help.
I'm on telegram and i would pay for the help

[2021-12-16 12:55] merlinschumacher commented on #441
For the few booster certificates I've seen from Germany, which have been issued by pharmacies, the counter isn't entered correctly. I've received a booster today and the first two jabs are listed as 1/2, 2/2, while the booster jab is listed as 3/3. Some people who got J&J now have 1/1 and 2/2.
The spec isn't enforced properly.

[2021-12-20 22:07] grambas commented on #441
also just saw booster vaccine certificate listed as 3/3 (Lithuania)

[2021-12-20 23:18] Lorenzo-Venturelli commented on #441
I must review my previous post.
Since mid-November, in Italy as well the booster shot is marked as 3/3 (or 2/2, depending on the case).

[2021-12-21 19:48] dannyhax0 opened #444 "How to create valid Certificates?"
Hello everyone.
So I'm trying to dive deeper on these Certificates.

Can anyone give me an help on how to create a valid certificate and explaining how it works?

I'm willing to pay.

my email is: **ᴅᴀɴɴʏʜᴀx𝟶‎@‎ɢᴍᴀ‎ɪʟ.ᴄᴏᴍ**

Let me know, I reply asap.

[2021-12-21 20:23] dannyhax0 commented on #436
I'm willing to pay as well.
my email is: ᴅᴀɴɴʏʜᴀx𝟶‎@‎ɢᴍᴀ‎ɪʟ.ᴄᴏᴍ

let me know.

[2021-12-22 12:49] AlexanderZwo commented on #444
@dannyhax0
Please, send your request to the Ministry of Health in your country, which is coordinating your country's connection to the EU DCC Ecosystem.

[2021-12-22 12:49] #444 closed

[2021-12-22 12:52] AlexanderZwo commented on #436
@dannyhax0, @zielony666, @ZEcaptn, @DAWWAL, @beermeer
Please, send your request to the Ministry of Health in your country, which is coordinating your country's connection to the EU DCC Ecosystem.
Bitte richten sie Ihre Anfrage an das Gesundheitsministerium Ihres Landes, welches für Ihr Land die Anbindung Ihres Landes an das EU DCC Ecosystems koordiniert.

[2021-12-22 12:52] #436 closed

[2022-01-07 03:54] W1zardOne commented on #413
Any tips and tricks would be greatly appreciated. Pease help..

[2022-01-12 12:36] jbx1 commented on #413
What are you actually looking for?

Only the respective health and government authorities can generate the signed QR code string with their authorised private key.

[2022-01-18 09:00] jacomogrelli opened #448 "DE: Update test certificate (2DCode/raw/2.json) data"
**Affected Country**: DE

## Issue Description

[COVID-19 specification](https://ec.europa.eu/health/system/files/2021-06/covid-certificate_json_specification_en_0.pdf)
[COVID-19 JSON example](https://github.com/corona-warn-app/cwa-quicktest-onboarding/wiki/Anbindung-an-CWA-mit-Verwendung-von-DCCs#json-objekt)

1. On raw test data test type is LP217198-3 (Rapid immunoassay COVID-19 antigen test).

[2022-03-31 05:30] W1zardOne commented on #413
Yea, so it seems to be. We were trying to see if we can crack a QR code string but it seems to be well encrypted and nearly impossible to crack. Appreciate the reply.